.espera {
    left: 0 !important;
    top: 0 !important;
    z-index: 500 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
    visibility: visible !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.contenedor {
    width: 70%;
    height: 70%;
    z-index: 501 !important;
    overflow-y: auto;
    background-color: white;
    border: 1px solid black;
    padding: 15px;
}

.accion {
    width: 98%;
}

.cerrar {
    color: #BB0207;
    cursor: pointer;
}

.titulo {
    font-weight: bold;
    background-color: #AA7D04;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 0;
}

.dato {
    padding-left: 30px;
}

p {
    margin-bottom: 0;
}