<div class="espera">
    <div class="contenedor" fxLayout="column">
        <div fxLayout="row" fxLayoutAlign="end">
            <b class="cerrar-leermas" (click)="cerrarv()">Cerrar</b>
        </div>
        <div class="titulo">
            Coordinadores generales del sitio
        </div>
        <div class="dato">
            <p>ANA CASTAÑO NAVARRO</p>
            <p>JORGE GUTIÉRREZ REYNA</p>
            <p>Instituto de Investigaciones Filológicas, UNAM</p>
        </div>
        <div class="titulo">
            Autor y responsable de la base de datos “Sermones impresos durante el siglo XVII en la Nueva España”
        </div>
        <div class="dato">
            <p>CECILIA ANGÉLICA CORTÉS ORTIZ</p>
            <p>Instituto de Investigaciones Bibliográficas, UNAM</p>
        </div>

        <div class="titulo">
            Autor y responsable de la base de datos “Relaciones de comedias”
        </div>
        <div class="dato">
            <p>EMILIANO GOPAR OSORIO</p>
            <p>Instituto de Investigaciones Filológicas, UNAM</p>
        </div>

        <div class="titulo">
            Responsable del corpus multimedia
        </div>
        <div class="dato">
            <p>ESTHER CAMILA PASCAL GARCÍA</p>
            <p>Instituto Nacional de Antropología e Historia</p>
        </div>

        <div class="titulo">
            Responsable de la “Línea del tiempo” Obtención y selección de imágenes para el corpus multimedia
        </div>
        <div class="dato">
            <p>JOHANN RODRIGO ROMERO AYALA</p>
            <p>Facultad de Filosofía y Letras, UNAM</p>
        </div>

        <div class="titulo">
            Colaboradores en la elaboración de la “Línea del tiempo”
        </div>
        <div class="dato">
            <p>FRIDA AGUILAR BERNI</p>
            <p>DIANA ITZEL ALVARADO VEGA</p>
            <p>HILARY CRUZ FLORES</p>
            <p>CARLOS RAMÍREZ CÓRDOVA</p>
            <p>Facultad de Filosofía y Letras, UNAM</p>
        </div>

        <div class="titulo">
            Diseño y maquetación del sitio web basado en UX Asesoría en la elaboración de la “Línea del tiempo”
        </div>
        <div class="dato">
            <p>CAROLINA SILVA BRETÓN</p>
            <p>Instituto de Investigaciones Bibliográficas, UNAM</p>
        </div>

        <div class="titulo">
            Desarrollo del sitio, coordinación de pruebas, implementación del sitio en producción y soporte técnico
        </div>
        <div class="dato">
            <p>PAULINO VALLADARES JUSTO</p>
        </div>

        <div class="titulo">
            Asesor técnico
        </div>
        <div class="dato">
            <p>GERARDO IVÁN MICELI LEÓN</p>
            <p>Instituto de Investigaciones Filológicas, UNAM</p>
        </div>
    </div>
</div>