<h2 mat-dialog-title>Opciones de consulta</h2>
<mat-dialog-content class="marco">
    <div class="titulo">Seleccione las opciones de consulta que desea agregar a su busqueda</div>

    <div class="opciones">
        <div class="fila" fxLayout="row" fxLayoutGap="20px">
            <mat-checkbox [(ngModel)]="filtros.autor" [labelPosition]="'after'">
                Consulte por <b>AUTOR</b>.
            </mat-checkbox>
            <img src="assets/imgs/btn_ayuda.jpg" class="ayuda" alt="ayuda filtro autor" (click)="moAyuda('autor')">
        </div>
        <div class="descripcion-filtro" *ngIf="secVisible=='autor'" (click)="moAyuda('autor')">
            Introduciendo el nombre del autor de un sermón se mostrarán las opciones coincidentes entre los autores de sermones.
        </div>
        <div class="fila" fxLayout="row" fxLayoutGap="20px">
            <mat-checkbox [(ngModel)]="filtros.titulo" [labelPosition]="'after'">
                Consulte por <b>TITULO</b>
            </mat-checkbox>
            <img src="assets/imgs/btn_ayuda.jpg" class="ayuda" alt="ayuda filtro autor" (click)="moAyuda('titulo')">
        </div>
        <div class="descripcion-filtro" *ngIf="secVisible=='titulo'" (click)="moAyuda('titulo')">
            escribiendo el título del sermón o bien una o varias palabras presentes en dicho título, se mostrarán los sermones que la(s) contiene(n).
        </div>
        <div class="banios" fxLayout="column">
            <mat-checkbox [labelPosition]="'after'" [(ngModel)]="fanios">Busqueda por años</mat-checkbox>
            <mat-radio-group [(ngModel)]="tipoAnios" fxLayout="column">
                <div fxLayout="row">
                    <mat-radio-button value="anio" [disabled]="!fanios">Por <b>AÑO DE PUBLICACIÓN</b></mat-radio-button>
                    <img src="assets/imgs/btn_ayuda.jpg" class="ayuda" alt="ayuda filtro autor" (click)="moAyuda('año')">
                </div>
                <div class="descripcion-filtro" *ngIf="secVisible=='año'" (click)="moAyuda('año')">
                    introduciendo un año específico se mostrarán los sermones impresos en ese año.
                </div>
                <div fxLayout="row">
                    <mat-radio-button value="anios" [disabled]="!fanios">Por un <b>RANGO DE AÑOS</b></mat-radio-button>
                    <img src="assets/imgs/btn_ayuda.jpg" class="ayuda" alt="ayuda filtro autor" (click)="moAyuda('rango años')">
                </div>
                <div class="descripcion-filtro" *ngIf="secVisible=='rango años'" (click)="moAyuda('rango años')">
                    introduciendo un rango de años se mostrarán los sermones impresos en ese lapso.
                </div>
            </mat-radio-group>
        </div>

        <div class="fila" fxLayout="row" fxLayoutGap="20px">
            <mat-checkbox [(ngModel)]="filtros.ciudad" [labelPosition]="'after'" [disabled]="tipo!='individuales'">
                Por <b>CIUDAD DE PUBLICACIÓN</b> en el pie de imprenta.
            </mat-checkbox>
            <img src="assets/imgs/btn_ayuda.jpg" class="ayuda" alt="ayuda filtro autor" (click)="moAyuda('ciudad')">
        </div>
        <div class="descripcion-filtro" *ngIf="secVisible=='ciudad'" (click)="moAyuda('ciudad')">
            esta opción permite visualizar los lugares de publicación del total de los sermones del corpus. Las opciones son: a) la Ciudad de México; b) la ciudad de Puebla de los Ángeles; y c) no consta la ciudad
        </div>
        <div class="fila" fxLayout="row" fxLayoutGap="20px">
            <mat-checkbox [(ngModel)]="filtros.impresor" [labelPosition]="'after'" [disabled]="tipo!='individuales'">
                Por <b>IMPRESOR</b>
            </mat-checkbox>
            <img src="assets/imgs/btn_ayuda.jpg" class="ayuda" alt="ayuda filtro autor" (click)="moAyuda('impresor')">
        </div>
        <div class="descripcion-filtro" *ngIf="secVisible=='impresor'" (click)="moAyuda('impresor')">
            seleccionando, entre un listado, el nombre de un impresor se mostrarán los sermones que sacó a la luz ese impresor.
        </div>

        <div class="fila" fxLayout="row" fxLayoutGap="20px">
            <mat-checkbox [(ngModel)]="filtros.thema" [labelPosition]="'after'">
                Por pasaje <b>BÍBLICO (THEMA)</b> o por su <b>REFERENCIA BÍBLICA</b>
            </mat-checkbox>
            <img src="assets/imgs/btn_ayuda.jpg" class="ayuda" alt="ayuda filtro autor" (click)="moAyuda('thema')">
        </div>
        <div class="descripcion-filtro" *ngIf="secVisible=='thema'" (click)="moAyuda('thema')">
            esta búsqueda tiene dos opciones: a) introduciendo el pasaje bíblico que encabeza un sermón (tema) o una o varias palabras presentes en dicho pasaje; o b) por la referencia del libro y el versículo bíblicos que corresponden al pasaje. Se mostrarán los
            sermones construidos a partir de dicho tema. (Sólo se registran pasajes bíblicos en latín, con base en la Vulgata). Consulte los <i>sermones</i> que <b>CONTENGAN EN SU THEMA o LIBRO</b> las palabras que especifique.
        </div>
        <div class="fila" fxLayout="row" fxLayoutGap="20px">
            <mat-checkbox [(ngModel)]="filtros.preliminares" [labelPosition]="'after'" [disabled]="tipo!='individuales'">
                Por <b>AUTOR DE LOS PRELIMINARES</b> escritos por dicho autor.
            </mat-checkbox>
            <img src="assets/imgs/btn_ayuda.jpg" class="ayuda" alt="ayuda filtro autor" (click)="moAyuda('preliminares')">
        </div>
        <div class="descripcion-filtro" *ngIf="secVisible=='preliminares'" (click)="moAyuda('preliminares')">
            introduciendo el nombre de un autor se mostrará el o los sermones que contengan textos preliminares (licencias, aprobaciones, censuras, pareceres, dedicatorias, prólogos, piezas poéticas, entre otros)
        </div>
        <div class="fila" fxLayout="row" fxLayoutGap="20px">
            <mat-checkbox [(ngModel)]="filtros.dedicatarios" [labelPosition]="'after'" [disabled]="tipo!='individuales'">
                Por <b>DEDICATARIOS</b>
            </mat-checkbox>
            <img src="assets/imgs/btn_ayuda.jpg" class="ayuda" alt="ayuda filtro autor" (click)="moAyuda('dedicatarios')">
        </div>
        <div class="descripcion-filtro" *ngIf="secVisible=='dedicatarios'" (click)="moAyuda('dedicatarios')">
            esta opción permite elegir, entre los nombres de una lista, a aquellos personajes a quienes uno o más sermones fueron dedicados.
        </div>
        <div class="fila" fxLayout="row" fxLayoutGap="20px">
            <mat-checkbox [(ngModel)]="filtros.obra" [labelPosition]="'after'" [disabled]="tipo!='individuales'">
                Por título de la <b>OBRA QUE CONTIENE EL SERMÓN</b>
            </mat-checkbox>
            <img src="assets/imgs/btn_ayuda.jpg" class="ayuda" alt="ayuda filtro autor" (click)="moAyuda('titulo obra')">
        </div>
        <div class="descripcion-filtro" *ngIf="secVisible=='titulo obra'" (click)="moAyuda('titulo obra')">
            esta búsqueda permite elegir, entre un listado de títulos, la obra en que se encuentran incluidos uno o más sermones (se refiere a los casos en que uno o más sermones se encuentran contenidos dentro de otra obra, sea ésta un sermonario, una relación de
            festejos u otro tipo de obra).
        </div>
        <div class="fila" fxLayout="row" fxLayoutGap="20px">
            <mat-checkbox [(ngModel)]="filtros.orden" [labelPosition]="'after'">
                Por <b>ORDEN RELIGIOSA </b>o<b>CARGO RELIGIOSO</b>
            </mat-checkbox>
            <img src="assets/imgs/btn_ayuda.jpg" class="ayuda" alt="ayuda filtro autor" (click)="moAyuda('orden')">
        </div>
        <div class="descripcion-filtro" *ngIf="secVisible=='orden'" (click)="moAyuda('orden')">
            seleccionando entre un listado, esta búsqueda permite encontrar todos los sermones que fueron predicados por los integrantes de una determinada orden religiosa, así como por los que tuvieron el cargo de obispo o arzobispo.
        </div>
        <div class="fila" fxLayout="row" fxLayoutGap="20px">
            <mat-checkbox [(ngModel)]="filtros.grabado" [labelPosition]="'after'">
                Por <b>DESCRIPCIÓN EN EL GRABADO</b>
            </mat-checkbox>
            <img src="assets/imgs/btn_ayuda.jpg" class="ayuda" alt="ayuda filtro autor" (click)="moAyuda('grabado')">
        </div>
        <div class="descripcion-filtro" *ngIf="secVisible=='grabado'" (click)="moAyuda('grabado')">
            escribiendo una o mas palabras, se mostrarán los sermones que en su grabado contengan las palabras especificadas.
        </div>


    </div>
</mat-dialog-content>
<mat-dialog-actions class="opciones" fxLayout="row" fxLayoutAlign="space-around center">
    <button mat-raised-button [mat-dialog-close]="'no'">
        <mat-icon>cancel</mat-icon> Cancelar
    </button>
    <button mat-raised-button [mat-dialog-close]="'si'" (click)="aceptar()">
        <mat-icon>check</mat-icon> Aceptar
    </button>
</mat-dialog-actions>