<mat-table [dataSource]="catalogo">
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef fxFlex="50px"> ID </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="50px"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="categoria">
        <mat-header-cell *matHeaderCellDef fxFlex="100px"> Categoria </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="100px"> {{element.categoria}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="palabra">
        <mat-header-cell *matHeaderCellDef fxFlex="100px"> Palabra </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="100px"> {{element.palabra}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="descripcion">
        <mat-header-cell *matHeaderCellDef> Categoria </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnasCat"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnasCat;" [ngClass]="{'seleccion': fsel == row.id}" (click)="seleccionar(row)"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>