.consulta {
    margin: 10px;
    /*border: solid black 2px;*/
}

.marco {
    margin: 1px;
}

.detalle {
    margin: 1px;
    padding: 10px;
}

.autor {
    padding: 5px;
    width: 400px;
}

.obra {
    padding: 5px;
    width: 400px;
}

.clasificacion {
    padding: 5px;
    width: 400px;
}

.btnBuscar {
    width: 300px;
    height: 50px;
}


/*tooltip */

::ng-deep .mat-tooltip {
    background-color: lightgoldenrodyellow !important;
    color: black !important;
    font-size: 18px !important;
}


/*resultado*/

.resultado {
    height: 700px;
    padding: 5px;
    overflow-y: scroll;
}

mat-card {
    margin-top: 10px;
}

mat-card-content {
    padding: 10px 0;
}

mat-card-header {
    background-color: #5d1013;
    border: 2px solid rgba(0, 0, 0, .3);
    color: white;
}

mat-card-subtitle {
    color: white;
}

.btnDetalle {
    width: 100% !important;
    height: 100%;
    background-color: #5d1013;
}


/*--------------------*/

.buscando {
    width: 80%;
    padding: 10px;
    align-self: center;
}