.consulta {
    margin: 10px;
    /*border: solid black 2px;*/
}

.marco {
    margin: 1px;
}

.detalle {
    margin: 1px;
    padding: 10px;
}

.autor {
    padding: 5px;
    width: 400px;
}

.obra {
    padding: 5px;
    width: 400px;
}

.clasificacion {
    padding: 5px;
    width: 400px;
}

.btnBuscar {
    width: 300px;
    height: 50px;
}


/*tooltip */

::ng-deep .mat-tooltip {
    background-color: lightgoldenrodyellow !important;
    color: black !important;
    font-size: 18px !important;
}


/*resultado*/

.resultado {
    height: 700px;
    padding: 5px;
    overflow-y: scroll;
}

.tarjeta {
    margin-top: 10px;
}

.tituloTarjeta {
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    border-bottom: solid 1px black;
}

.pieTarjeta {
    margin-top: 10px;
    border-top: solid 1px black;
    color: grey;
    font-weight: bold;
}

.seleccionado {
    background: lightblue;
}

mat-card-content {
    height: 100%;
}


/*--------------------*/

.buscando {
    width: 80%;
    padding: 10px;
    align-self: center;
}