:host {
    margin-bottom: 150px;
    margin-left: 25px;
}

.consulta {
    margin: 10px;
    /*border: solid black 2px;*/
}

.marco_narrativas {
    margin: 0 20px;
}

.detalle {
    margin: 1px;
    padding: 10px;
}

.autor {
    padding: 5px;
    width: 400px;
}

.obra {
    padding: 5px;
    width: 400px;
}

.clasificacion {
    padding: 5px;
    width: 400px;
}

.btnBuscar {
    width: 300px;
    height: 50px;
}


/*tooltip */

::ng-deep .mat-tooltip {
    background-color: lightgoldenrodyellow !important;
    color: black !important;
    font-size: 18px !important;
}


/*resultado*/

.resultado {
    height: 700px;
    padding: 5px;
    overflow-y: scroll;
    margin-bottom: 50px;
}

.tarjeta {
    margin-top: 40px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), 0 5px 5px;
    overflow: hidden;
    cursor: pointer;
}

.encabezado {
    background-color: #D50000;
    color: white;
    padding: 10px 5px 5px 5px;
}

.titulo {
    font-weight: bold;
}

.contenido {
    padding-left: 10px;
    padding-right: 10px;
    white-space: pre-wrap;
}

h3 {
    text-align: center;
}

.btnDetalle {
    width: 100% !important;
    height: 100%;
    background-color: #D50000;
}


/*--------------------*/

.buscando {
    width: 80%;
    padding: 10px;
    align-self: center;
}