<div class="marco" fxFlex fxLayout="column" fxLayoutAlign="center" fxFill fxLayoutAlign="space-around stretch">

    <form [formGroup]="frm" class="consulta" fxfill>
        <div class="defconsulta" fxFlex="90">
            <mat-form-field appearance="fill" class="autor" *ngIf="filtrosActivos.value.indexOf('Autor')>=0" >
                <mat-label>Seleccione un autor</mat-label>
                <mat-select name="autor" (selectionChange)="autorSeleccionado($event)" formControlName="autor" >
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let autor of listaAutores" [value]="autor.autor">
                        {{autor.autor}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="obra" *ngIf="filtrosActivos.value.indexOf('Obra')>=0">
                <mat-label>Seleccione una obra</mat-label>
                <mat-select name="obra" formControlName="obra">
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let obra of listaObras" [value]="obra.obra">
                        {{obra.obra}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="clasificacion" *ngIf="filtrosActivos.value.indexOf('Clasificación')>=0">
                <mat-label>Seleccione una clasificación</mat-label>
                <mat-select name="clase" formControlName="clasificacion">
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let categoria of listaClasificacion" [value]="categoria.id" matTooltip="{{categoria.categoria}}">
                        {{categoria.categoria}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="clasificacion" *ngIf="filtrosActivos.value.indexOf('Tema')>=0">
                <mat-label>Seleccione una tema</mat-label>
                <mat-select name="clase" formControlName="tema">
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let elemento of listaTemas" [value]="elemento.idpalabra" matTooltip="{{elemento.palabra}}">
                        {{elemento.palabra}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="clasificacion" *ngIf="filtrosActivos.value.indexOf('Motivo')>=0">
                <mat-label>Seleccione un motivo</mat-label>
                <mat-select name="clase" formControlName="motivo">
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let elemento of listaMotivos" [value]="elemento.id_motivo" matTooltip="{{elemento.motivo}}">
                        {{elemento.motivo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="clasificacion" *ngIf="filtrosActivos.value.indexOf('Tipo de Verso')>=0">
                <mat-label>Seleccione un Tipo de Verso</mat-label>
                <mat-select name="clase" formControlName="tipoVerso">
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let elemento of listaVersificaciones" [value]="elemento.id_versificacion" matTooltip="{{elemento.tipo_verso}}">
                        {{elemento.tipo_verso}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="clasificacion" *ngIf="filtrosActivos.value.indexOf('Tipo de Accion')>=0">
                <mat-label>Seleccione un Tipo de Acción</mat-label>
                <mat-select name="clase" formControlName="tipoAccion">
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let elemento of listaTipoAcciones" [value]="elemento.id_tipo_accion" matTooltip="{{elemento.descripcion}}">
                        {{elemento.tipo_accion}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="clasificacion" *ngIf="filtrosActivos.value.indexOf('Soporte')>=0">
                <mat-label>Seleccione un Tipo de Soporte</mat-label>
                <mat-select name="clase" formControlName="soporte">
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let elemento of listaSoporte" [value]="elemento.id_soporte" matTooltip="{{elemento.tipo_material}}">
                        {{elemento.tipo_material}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="clasificacion" *ngIf="filtrosActivos.value.indexOf('Vínculo Visual')>=0">
                <mat-label>Buscan en Vínculos Visuales</mat-label>
                <input matInput type="text" formControlName="vinculoVisual">
            </mat-form-field>

            <mat-form-field class="clasificacion" *ngIf="filtrosActivos.value.indexOf('Vínculo Auditivos')>=0">
                <mat-label>Buscan en Vínculos Auditivos</mat-label>
                <input matInput type="text" formControlName="vinculoAuditivo">
            </mat-form-field>

            <mat-form-field class="clasificacion" *ngIf="filtrosActivos.value.indexOf('Vínculo Acción Dramatica')>=0">
                <mat-label>Buscan en Vínculos del presente con la acción dramatica</mat-label>
                <input matInput type="text" formControlName="vinculoAuditivo">
            </mat-form-field>
        </div>
        <div  fxLayout="column" fxFlex fxLayoutAlign="space-between stretch">
            <mat-form-field appearance="fill" matTooltip="Seleccione los campos que desea usar en la busqueda de Narrativas">
                <mat-label>Busqueda Avanzada</mat-label>
                <mat-select [formControl]="filtrosActivos" multiple (selectionChange)="cambioFiltros($event)">
                    <mat-select-trigger>
                        {{filtrosActivos.value ? filtrosActivos.value[0] : ''}}
                        <span *ngIf="filtrosActivos.value?.length > 1">
                        (+{{filtrosActivos.value.length - 1}} {{filtrosActivos.value?.length === 2 ? 'otro' : 'otros'}})
                        </span>
                    </mat-select-trigger>
                    <mat-option *ngFor="let f of listaFiltros" [value]="f.filtro" matTooltip="{{f.descripcion}}">{{f.filtro}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button  (click)="consulta()">
                <mat-icon>search</mat-icon> BUSCAR
            </button>
        </div>
    </form>
    <mat-card class="buscando" *ngIf="estaCargando">
        <mat-card-content>
            <h2 class="example-h2">Consultando base de datos</h2>

            <section class="example-section">
                <mat-progress-bar class="example-margin" [color]="'primary'" [mode]="'indeterminate'" [value]="50" [bufferValue]="100">
                </mat-progress-bar>
            </section>
        </mat-card-content>
    </mat-card>
    <div class="resultado" [style.display]="despResultado" *ngIf="!estaCargando" fxFill>
        <div mat-subheader>Información encontrada en la base de datos</div>
        <div class="lista-resultado" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="start">

            <mat-card class="tarjeta" *ngFor="let narrativa of listaResultado; let i = index" fxFlex="0 0 calc(25% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%" (click)="idxSeleccionado=narrativa.id_texto">
                <mat-card-content [ngClass]="{'seleccionado':(narrativa.id_texto)==idxSeleccionado}" fxLayout="column" fxLayoutAlign="space-between">
                    <div fxFlex fxLayout fxLayoutAlign="space-between">
                        <p class="tituloTarjeta">{{i+1}} - {{narrativa.autor}}</p>
                        <button *ngIf="(narrativa.id_texto)==idxSeleccionado" mat-mini-fab color="primary" (click)="cambiar(narrativa)">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>
                    <p>{{narrativa.narratio.substring(0,400)}}</p>
                    <p class="pieTarjeta">{{narrativa.obra+', '+narrativa.ubicacion}}</p>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
    <div fxFill [style.display]="despDetalle">
        <button mat-button color="Cambiar" (click)="cambiar(null)">Regresar</button>
        <app-cons-det-narrativa [idTexto]="idNarrativaSel" [narrativa]="narrativaSeleccionada"></app-cons-det-narrativa>
    </div>
</div>
