<div class="marco" fxFlex fxLayout="column" fxLayoutAlign="first stretch" fxFill>
    <form [formGroup]="frm" class="consulta">
        <mat-form-field class="ac">
            <input type="text" placeholder="Selecciona un autor" aria-label="Number" matInput [formControl]="acAutores" [matAutocomplete]="auto" (change)="cambioAutor()">
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let autor of listaFiltrada | async" [value]="autor">
                    {{autor}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-button color="Cambiar" (click)="consulta()">BUSCAR</button>
    </form>
    <mat-card class="buscando" *ngIf="estaCargando">
        <mat-card-content>
            <h2 class="example-h2">Consultando base de datos</h2>

            <section class="example-section">
                <mat-progress-bar class="example-margin" [color]="'primary'" [mode]="'indeterminate'" [value]="50" [bufferValue]="100">
                </mat-progress-bar>
            </section>
        </mat-card-content>
    </mat-card>
    <div class="resultado" [style.display]="despResultado" *ngIf="!estaCargando">
        <div mat-subheader>Información encontrada en la base de datos</div>
        <div class="lista-resultado" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="start">

            <mat-card class="tarjeta" *ngFor="let sermon of listaResultado; let i = index" fxFlex="0 0 calc(25% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%" (click)="idxSeleccionado=(i+1)">
                <mat-card-content [ngClass]="{'seleccionado':(i+1)==idxSeleccionado}" fxLayout="column" fxLayoutAlign="space-between">
                    <div fxFlex fxLayout fxLayoutAlign="space-between">
                        <p class="tituloTarjeta">{{i+1}} - {{sermon.autor_apellido}}, {{sermon.autor_nombre}}</p>
                        <button *ngIf="(i+1)==idxSeleccionado" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="cambiar(sermon.id_sermon)">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>
                    <p>{{sermon.autor_particula}} {{sermon.titulo}}</p>
                    <p class="pieTarjeta">{{sermon.ciudad+', '+sermon.anio}}</p>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
    <div class="detalle" [style.display]="despDetalle">
        <button mat-button color="Cambiar" (click)="cambiar(0)">Regresar</button>
        <app-cons-det-sermon [id_sermon]="id_sermon_sel" #detsermon></app-cons-det-sermon>
    </div>
</div>