<div class="marco" fxFlex fxLayout="column" fxLayoutAlign="first stretch" fxFill>
    <div class="consulta">
        <mat-form-field class="form-field">
            <mat-label>¿ Qué desea buscar ?</mat-label>
            <input matInput type="text" [(ngModel)]="textConsulta" (keydown.enter)="consulta()">
            <button mat-button *ngIf="textConsulta" matSuffix mat-icon-button aria-label="Clear" (click)="textConsulta=''">
                      <mat-icon>close</mat-icon>
                    </button>
        </mat-form-field>
        <button mat-button color="Cambiar" (click)="cambiar()">Cambiar</button>
    </div>
    <div class="resultado" [style.display]="despResultado">
        <div mat-subheader>Resultado de su consulta</div>
        <div class="lista-resultado" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="start">

            <mat-card class="tarjeta" *ngFor="let sermon of listaResultado; let i = index" fxFlex="0 0 calc(25% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%">
                <!--mat-card-header>
                    <mat-card-title>{{i+1}} - {{sermon.autor_apellido}}, {{sermon.autor_nombre}}</mat-card-title>
                    <mat-card-subtitle>{{sermon.ciudad+', '+sermon.anio}}</mat-card-subtitle>
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="detalle()">
                                    <mat-icon>menu</mat-icon>
                                  </button>
                </mat-card-header-->
                <mat-card-content>
                    <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="cambiar()">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <p class="tituloTarjeta">{{i+1}} - {{sermon.autor_apellido}}, {{sermon.autor_nombre}}</p>
                    <p>{{sermon.autor_particula}} {{sermon.titulo}}</p>
                    <p class="pieTarjeta">{{sermon.ciudad+', '+sermon.anio}}</p>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
    <div class="detalle" [style.display]="despDetalle">
        <button mat-button color="Cambiar" (click)="cambiar()">Regresar</button>
        <app-cons-det-sermon></app-cons-det-sermon>
    </div>
</div>