p {
    white-space: pre-wrap
}

.tarjeta {
    margin-top: 10px;
}

.regresar {
    margin: 20px;
    align-self: center;
}

mat-card {
    margin-top: 10px;
}

mat-card-content {
    padding: 10px 0;
}

mat-card-header {
    background-color: #5d1013;
    border: 2px solid rgba(0, 0, 0, .3);
    color: white;
}

mat-card-subtitle {
    color: white;
}

.btnDetalle {
    width: 100% !important;
    height: 100%;
    background-color: #5d1013;
}

.resultado {
    /*border: 1px solid rebeccapurple;*/
    height: 700px;
    padding: 5px;
    overflow-y: scroll;
}

.elemento {
    margin: 5px;
}

.consulta {
    padding: 10px;
}

.buscando {
    width: 80%;
    padding: 10px;
    align-self: center;
}

::ng-deep .mat-tooltip {
    background-color: lightgoldenrodyellow !important;
    color: black !important;
    font-size: 18px !important;
}