p {
    white-space: pre-wrap
}

.tarjeta {
    margin-top: 40px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), 0 5px 5px;
    overflow: hidden;
    cursor: pointer;
}

.encabezado {
    background-color: #D50000;
    color: white;
    padding: 10px 5px 5px 5px;
}

.contenido {
    padding-left: 10px;
    padding-right: 10px;
}

.regresar {
    margin: 20px;
    align-self: center;
}

.btnDetalle {
    width: 100% !important;
    height: 100%;
    background-color: #D50000;
}

.resultado {
    /*border: 1px solid rebeccapurple;*/
    height: 700px;
    padding: 5px;
    overflow-y: scroll;
}

.titulo {
    font-weight: bold;
}

.elemento {
    margin: 5px;
}

.consulta {
    padding: 10px;
}

.buscando {
    width: 80%;
    padding: 10px;
    align-self: center;
}

::ng-deep .mat-tooltip {
    background-color: lightgoldenrodyellow !important;
    color: black !important;
    font-size: 18px !important;
}

.noinfo {
    color: #5d1013;
    font-weight: bold;
    font-size: 16px;
}

.info {
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.ventana {
    z-index: 100 !important;
}