<div class="marco" fxFlex fxLayout="column" fxLayoutAlign="center" fxFill fxLayoutAlign="space-around stretch">
    <form [formGroup]="frm" class="consulta" fxfill fxLayout="row" fxLayout.lt-sm="column">
        <div class="defconsulta" fxFlex="80" fxLayout="row wrap" fxLayoutGap="10px" fxLayoutAlign="start center">
            <mat-form-field class="ac" *ngIf="filtroActivo('Autor')" fxFlex="0 0 calc(25% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%">
                <input type="text" placeholder="Selecciona un autor" aria-label="Number" matInput [formControl]="acAutores" [matAutocomplete]="auto" (change)="cambioAutor()">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let autor of listaFiltrada | async" [value]="autor">
                        {{autor}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="tituloSermon" *ngIf="filtroActivo('Titulo')" fxFlex="0 0 calc(25% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%">
                <input matInput type="text" placeholder="En el titulo del sermón" formControlName="titulo" name="titulo">
                <button mat-button matSuffix mat-icon-button aria-label="Clear">
                  <mat-icon>close</mat-icon>
              </button>
            </mat-form-field>

            <mat-form-field class="anio" *ngIf="filtroActivo('Año')" fxFlex="0 0 calc(25% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%">
                <input matInput type="text" placeholder="Año de publicacion" formControlName="anio">
            </mat-form-field>

            <mat-form-field class="anio" *ngIf="filtroActivo('Rango de años')" fxFlex="0 0 calc(25% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%">
                <input matInput type="text" placeholder="Año de publicacion INICIAL" formControlName="anio_ini">
            </mat-form-field>

            <mat-form-field class="anio" *ngIf="filtroActivo('Rango de años')" fxFlex="0 0 calc(25% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%">
                <input matInput type="text" placeholder="Año de publicacion FINAL " formControlName="anio_fin">
            </mat-form-field>




            <mat-form-field class="ac" *ngIf="filtroActivo('Preliminares')" fxFlex="0 0 calc(25% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%">
                <input type="text" placeholder="Selecciona un autor de preliminar" aria-label="Number" matInput [formControl]="acPreliminares" [matAutocomplete]="auto" (change)="cambioAutorPreliminar()">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let autor of listaPreliminaresFiltrada | async" [value]="autor">
                        {{autor}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="ac" *ngIf="filtroActivo('Dedicatarios')" fxFlex="0 0 calc(25% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%">
                <input type="text" placeholder="Selecciona a un dedicatario" aria-label="Number" matInput [formControl]="acDedicatarios" [matAutocomplete]="auto" (change)="cambioAutorPreliminar()">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let autor of listaDedicatariosFiltrada | async" [value]="autor">
                        {{autor}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field class="impresor" appearance="fill" *ngIf="filtroActivo('Impresor')" fxFlex="0 0 calc(25% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%">
                <mat-label>Impresor</mat-label>
                <mat-select formControlName="impresor">
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let elemento of listaImpresores" [value]="elemento.id_impresor">
                        {{elemento.impresor_nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="ciudad" appearance="fill" *ngIf="filtroActivo('Ciudad')" fxFlex="0 0 calc(25% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%">
                <mat-label>Ciudad</mat-label>
                <mat-select formControlName="ciudad">
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let elemento of listaCiudades" [value]="elemento.ciudad">
                        {{elemento.ciudad}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="tituloObra" appearance="fill" *ngIf="filtroActivo('Obra')" fxFlex="0 0 calc(25% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%">
                <mat-label>Titulo de la Obra</mat-label>
                <mat-select formControlName="tituloObra">
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let elemento of listaObras" [value]="elemento.id_libro" matTooltip="{{elemento.libro_titulo}}">
                        {{elemento.libro_titulo}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="orden" appearance="fill" *ngIf="filtroActivo('Orden')" fxFlex="0 0 calc(25% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%">
                <mat-label>Orden Religiosa</mat-label>
                <mat-select formControlName="orden">
                    <mat-option>Ninguno</mat-option>
                    <mat-option *ngFor="let elemento of listaOrdenesReligiosas" [value]="elemento.autor_orden">
                        {{elemento.autor_orden}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxLayout="column" fxFlex fxLayoutAlign="start stretch">
            <mat-form-field appearance="fill" fxFill>
                <mat-label>Busqueda avanzada</mat-label>
                <mat-select [formControl]="filtrosActivos" multiple (selectionChange)="cambioFiltros($event)">
                    <mat-select-trigger>
                        {{filtrosActivos.value ? filtrosActivos.value[0] : ''}}
                        <span *ngIf="filtrosActivos.value?.length > 1">
                      (+{{filtrosActivos.value.length - 1}} {{filtrosActivos.value?.length === 2 ? 'otro' : 'otros'}})
                    </span>
                    </mat-select-trigger>

                    <mat-option *ngFor="let filtro of listaFiltros" [value]="filtro.filtro">{{filtro.filtro}}</mat-option>
                </mat-select>
            </mat-form-field>
            <button mat-raised-button class="btnBuscar" (click)="consulta()">
              <mat-icon>search</mat-icon> BUSCAR
          </button>
        </div>
    </form>
    <mat-card class="buscando" *ngIf="estaCargando">
        <mat-card-content>
            <h2 class="example-h2">Consultando base de datos</h2>

            <section class="example-section">
                <mat-progress-bar class="example-margin" [color]="'primary'" [mode]="'indeterminate'" [value]="50" [bufferValue]="100">
                </mat-progress-bar>
            </section>
        </mat-card-content>
    </mat-card>
    <div class="resultado" [style.display]="despResultado" *ngIf="!estaCargando">
        <div mat-subheader>Información encontrada en la base de datos</div>
        <div class="lista-resultado" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="start">
            <mat-card class="tarjeta" *ngFor="let sermon of listaResultado; let i = index" fxFlex="0 0 calc(25% - 10px)" fxFlex.lt-lg="0 0 calc(33% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%" (click)="idxSeleccionado=(i+1)">
                <mat-card-content [ngClass]="{'seleccionado':(i+1)==idxSeleccionado}" fxLayout="column" fxLayoutAlign="space-between">
                    <div fxFlex fxLayout fxLayoutAlign="space-between">
                        <p fxFlex class="tituloTarjeta">{{sermon.id_sermon}} - {{sermon.autor_nombre}} {{sermon.autor_apellido}} ({{sermon.autor_orden}})</p>
                        <button *ngIf="(i+1)==idxSeleccionado" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon" (click)="cambiar(sermon.id_sermon)">
                            <mat-icon>menu</mat-icon>
                        </button>
                    </div>
                    <p matTooltip="{{sermon.titulo}}">{{recortaSermon(sermon.titulo)}}</p>
                    <p class="pieTarjeta">{{sermon.ciudad+', '+sermon.anio}}</p>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>
<!--div fxFlex *ngIf="desplegarDetalle">
    <button mat-flat-button color="primary" class="regresar" (click)="cambiar(0)">
        <mat-icon>arrow_back_ios</mat-icon> <mat-icon>arrow_back_ios</mat-icon> Regresar
    </button>
    <app-cons-det-sermon [id_sermon]="idSermonSel" [tipo]="1" #detsermon></app-cons-det-sermon>
</div-->

<app-tc *ngIf="idSermonSel!=0" [referencia]="idSermonSel" [tipo]="'sermon'" (quitar)="cerrarDetalle()">

</app-tc>