<section id="content-int" *ngIf="tipo=='detalle'">
    <div class="wrapper">
        <div id="migas"> Enlaces de interés <img src="./assets/imgs/migaSep.jpg" alt="separador de miga"> </div>

        <div class="fdoEnlaces contenido">

            <div id="txtHer">
                <!--ancla proyectos-->
                <a id="proyectos"></a>

                <h1>Enlaces de interés</h1>

                <ul id="submenuEnlaces">
                    <li><a href="#proyectos">Proyectos y grupos de investigación</a></li>
                    <li><a href="#bibliotecas">Bibliotecas y catálogos digitales</a></li>
                    <li><a href="#revistas">Revistas</a></li>
                    <li><a href="#artes">Artes</a></li>
                    <li><a href="#diccionarios">Diccionarios y corpus documentales</a></li>

                </ul>
                <div id="brujulaEnlaces"><img src="./assets/imgs/brujulaEnlaces.gif" alt="enlaces de interés"></div>

                <h2 class="h2red">Proyectos y grupos de investigación</h2>

                <ul class="bulletRojo">
                    <li><a href="https://www.adabi.org.mx" target="_blank">Apoyo al Desarrollo de Archivos y Bibliotecas de México, A.C. (ADABI) </a></li>
                    <li><a href="https://celes.labo.univ-poitiers.fr/es/" target="_blank">Centro de Estudios de la Literatura Española de Entre Siglos (XVII-XVIII) </a></li>
                    <li><a href="https://www.iifilologicas.unam.mx/pnovohispano/" target="_blank">Estudios del Pensamiento Novohispano </a></li>
                    <li><a href="http://estudiosindianos.org/acerca-del-pei/" target="_blank">Proyecto Estudios Indianos </a></li>
                    <li><a href="http://web.uaemex.mx/iesu/PNovohispano/index.html" target="_blank">Seminario Permanente de Pensamiento Novohispano </a></li>
                    <li><a href="https://sermonesenmexicano.unam.mx/proyecto.html" target="_blank">Sermones en Mexicano </a></li>
                    <!--ancla bibliotecas-->
                    <a id="bibliotecas"></a>
                    <li><a href="https://www.unav.edu/web/griso/presentacion" target="_blank">Grupo de Investigación Siglo de Oro </a></li>
                    <li><a href="https://www.bieses.net" target="_blank">Bieses. Bibliografía de Escritoras Españolas </a></li>
                </ul>
                <br>

                <h2 class="h2red">Bibliotecas y catálogos digitales</h2>

                <ul class="bulletRojo">
                    <li><a href="http://www.bne.es/es/Catalogos/BibliotecaDigitalHispanica/Inicio/" target="_blank">Biblioteca Digital Hispánica, Biblioteca Nacional de España </a></li>
                    <li><a href="https://www.wdl.org/es/" target="_blank">Biblioteca Digital Mundial </a></li>
                    <li><a href="http://www.bdpn.unam.mx/" target="_blank">Biblioteca Digital del Pensamiento Novohispano </a></li>
                    <li><a href="https://www.bidiso.es/index.htm" target="_blank">Biblioteca Digital Siglo de Oro </a></li>
                    <li><a href="http://catarina.udlap.mx/xmLibris/projects/de_palafox/" target="_blank">Colección Juan de Palafox y Mendoza, Universidad de las Américas Puebla </a></li>
                    <li><a href="http://catalogo.iib.unam.mx/F/-/?func=login&local_base=BNDM" target="_blank">Biblioteca Nacional Digital de México, Biblioteca Nacional de México </a></li>
                    <li><a href="http://www.cehm.org.mx/Biblioteca/4/biblioteca-virreinal" target="_blank">Biblioteca Virreinal, Centro de Estudios de Historia de México </a></li>
                    <li><a href="http://www.letrasmexicanas.mx/" target="_blank">Biblioteca Virtual de las Letras Mexicanas, Biblioteca Virtual Miguel de Cervantes </a></li>
                    <li><a href="http://www.marcasdefuego.buap.mx:8180/xmLibris/projects/firebrand/index.html" target="_blank">Catálogo Colectivo de Marcas de Fuego </a></li>
                    <li><a href="https://gallica.bnf.fr/accueil/es/content/accueil-es?mode=desktop" target="_blank">Gallica, Biblioteca Nacional de Francia </a></li>
                    <li><a href="https://digitallibrary.tulane.edu/islandora/object/tulane:p16313coll15" target="_blank">Mexican Incunabula (1559-1600) at the Latin American Library, Tulane University Digital Library </a></li>
                    <li><a href="https://jcblibrary.org/" target="_blank">The John Carter Brown Library </a></li>
                    <li><a href="https://catalogo.iib.unam.mx/F/-/?func=login&local_base=cfa01" target="_blank">Patrimonio Bibliográfico Mexicano. Catálogo Colectivo de Fondos Antiguos </a></li>
                    <li><a href="https://www.perseus.tufts.edu/hopper/collections" target="_blank">Perseus Digital Library, Tufts University </a></li>
                    <li><a href="http://primeroslibros.org/" target="_blank">Primeros Libros de las Américas. Impresos Americanos del Siglo xvi en las Bibliotecas del Mundo </a></li>
                    <li><a href="https://sibila.iib.unam.mx/" target="_blank">SIBILA (Sistema Bibliográfico de la Literatura Novohispana) </a></li>
                    <!--ancla revistas-->
                    <a id="revistas"></a>
                    <li><a href="http://bd.iib.unam.mx/sibisor/index.html" target="_blank">SiBiSor. Sistema Bibliográfico Sor Juana Inés de la Cruz </a></li>
                </ul>

                <br>



                <h2 class="h2red">Revistas</h2>

                <ul class="bulletRojo">
                    <li><a href="https://americasinnombre.ua.es/index" target="_blank">América Sin Nombre, Universidad de Alicante </a></li>
                    <li><a href="https://bibliographica.iib.unam.mx/index.php/RB" target="_blank">Bibliographica, Universidad Nacional Autónoma de México </a></li>
                    <!--ancla artes-->
                    <a id="artes"></a>
                    <li><a href="http://revistaselclaustro.mx/index.php/prolijamemoria2e" target="_blank">Prolija Memoria, Universidad del Claustro de Sor Juana </a></li>
                </ul>
                <br>


                <h2 class="h2red">Artes</h2>

                <ul class="bulletRojo">
                    <li><a href="https://www.emblems.arts.gla.ac.uk/alciato/" target="_blank">Alciato at Glasgow </a></li>
                    <li><a href="https://www.codicemendoza.inah.gob.mx/inicio.php" target="_blank">Códice Mendoza </a></li>
                    <li><a href="https://colonialart.org/news" target="_blank">PESSCA. Project on the Engraved Sources of Spanish Colonial Art </a></li>
                    <li><a href="https://mediateca.inah.gob.mx/islandora_74/" target="_blank">Mediateca, Instituto Nacional de Antropología e Historia </a></li>
                    <li><a href="http://mib.puebla.gob.mx/es/" target="_blank">Museo Internacional del Barroco, México </a></li>
                    <li><a href="http://munal.emuseum.com/collections/14056/Principal;jsessionid=2976C1413BC2C558A66D65A4F7327969/objects" target="_blank">Museo Nacional de Arte, México </a></li>
                    <li><a href="https://virreinato.inah.gob.mx/" target="_blank">Museo Nacional del Virreinato, México </a></li>
                    <!--ancla diccionarios-->
                    <a id="diccionarios"></a>
                    <li><a href="http://musicat.unam.mx/" target="_blank">Seminario de Música en la Nueva España y el México Independiente </a></li>
                </ul>
                <br>



                <h2 class="h2red">Diccionarios y corpus documentales</h2>

                <ul class="bulletRojo">
                    <li><a href="http://www.cordiam.org/" target="_blank">Corpus Diacrónico y Diatópico del Español de América (CORDIAM) </a></li>
                    <li><a href="http://corpus.rae.es/cordenet.html" target="_blank">Corpus Diacrónico del Español (CORDE) </a></li>
                    <li><a href="https://www.iifilologicas.unam.mx/dicabenovo/index.php?page=nota#.Vp6i0vnhDIU" target="_blank">Diccionario de Abreviaturas Novohispanas </a></li>
                    <li><a href="http://ntlle.rae.es/ntlle/SrvltGUILoginNtlle" target="_blank">Nuevo Tesoro Lexicográfico de la Lengua Española, Real Academia de la Lengua </a></li>

                </ul>

            </div>


        </div>





    </div>
    <!--end wrapper-->

</section>
<section id="sec5" *ngIf="tipo=='resumen'">
    <h2>Enlaces de interés</h2>
    <div class="wrapper">
        <div class="interesIndex">
            <a href="http://estudiosindianos.org/acerca-del-pei/" target="_blank"><img src="assets/imgs/interes01.png" alt="Proyecto Estudios Indianos" title="Proyecto Estudios Indianos"></a>
            <a href="https://digitallibrary.tulane.edu/islandora/object/tulane:p16313coll15" target="_blank"><img src="assets/imgs/interes02.png" alt="Mexican Incunabula (1559-1600) at the Latin American Library, Tulane University Digital Library" title="Mexican Incunabula (1559-1600) at the Latin American Library, Tulane University Digital Library"></a>
            <a href="http://munal.emuseum.com/collections/14056/Principal;jsessionid=2976C1413BC2C558A66D65A4F7327969/objects" target="_blank"><img src="assets/imgs/interes03.png" alt="Museo Nacional de Arte, México" title="Museo Nacional de Arte, México"></a>
            <a href="https://www.unav.edu/web/griso/presentacion" target="_blank"><img src="assets/imgs/interes04.png" alt="Grupo de Investigación Siglo de Oro" title="Grupo de Investigación Siglo de Oro"></a>
        </div>
        <div class="interesIndex">
            <a href="http://www.cehm.org.mx/Biblioteca/4/biblioteca-virreinal" target="_blank"><img src="assets/imgs/interes05.png" alt="Biblioteca Virreinal, Centro de Estudios de Historia de México" title="Biblioteca Virreinal, Centro de Estudios de Historia de México"></a>
            <a href="http://www.marcasdefuego.buap.mx:8180/xmLibris/projects/firebrand/index.html" target="_blank"><img src="assets/imgs/interes06.png" alt="Catálogo Colectivo de Marcas de Fuego" title="Catálogo Colectivo de Marcas de Fuego"></a>
            <a href="http://web.uaemex.mx/iesu/PNovohispano/index.html" target="_blank"><img src="assets/imgs/interes07.png" alt="Seminario Permanente de Pensamiento Novohispano" title="Seminario Permanente de Pensamiento Novohispano"></a>
            <a href="https://www.wdl.org/es/" target="_blank"><img src="assets/imgs/interes08.png" alt="Biblioteca Digital Mundial" title="Biblioteca Digital Mundial"></a>
        </div>
        <div class="interesIndex">
            <a href="https://www.iifilologicas.unam.mx/pnovohispano/" target="_blank"><img src="assets/imgs/interes09.png" alt="Estudios del Pensamiento Novohispano" title="Estudios del Pensamiento Novohispano"></a>
            <a href="https://sibila.iib.unam.mx/" target="_blank"><img src="assets/imgs/interes10.png" alt="SIBILA: Sistema Bibliográfico de la Literatura Novohispana" title="SIBILA: Sistema Bibliográfico de la Literatura Novohispana"></a>
            <a href="http://catalogo.iib.unam.mx/F/-/?func=login&local_base=BNDM" target="_blank"><img src="assets/imgs/interes11.png" alt="Biblioteca Nacional de México" title="Biblioteca Nacional de México"></a>
            <a href="https://www.bidiso.es/index.htm" target="_blank"><img src="assets/imgs/interes12.png" alt="Biblioteca Digital Siglo de Oro" title="Biblioteca Digital Siglo de Oro"></a>
            <a href="https://www.adabi.org.mx" target="_blank"><img src="assets/imgs/interes13.png" alt="Apoyo al Desarrollo de Archivos y Bibliotecas de México, A.C. (ADABI)" title="Apoyo al Desarrollo de Archivos y Bibliotecas de México, A.C. (ADABI)"></a>
        </div>
        <div class="interesIndex">
            <a routerLink="/deinteres" class="link_bloque">Ver todos los enlaces de interés</a>
        </div>
    </div>
</section>