<!--section id="sec4">
    <h1>Enlaces de interés</h1>
    <p>&nbsp;</p>
    <h3> PROYECTOS Y GRUPOS DE INVESTIGACIÓN</h3>
    <div class="sec-ei">
        <p>&nbsp;</p>
        <p>Apoyo al Desarrollo de Archivos y Bibliotecas de México, A.C. (ADABI)</p>
        <a href="https://www.adabi.org.mx/">https://www.adabi.org.mx</a>
        <p>&nbsp;</p>
        <p>Centro de Estudios de la Literatura Española de Entre Siglos (xvii-xviii)</p>
        <a href="https://celes.labo.univ-poitiers.fr/es/">https://celes.labo.univ-poitiers.fr/es/</a>
        <p>&nbsp;</p>
        <p>Estudios del Pensamiento Novohispano</p>
        <a href="https://www.iifilologicas.unam.mx/pnovohispano/">https://www.iifilologicas.unam.mx/pnovohispano/</a>
        <p>&nbsp;</p>
        <p>Proyecto Estudios Indianos</p>
        <a href="http://estudiosindianos.org/acerca-del-pei/">http://estudiosindianos.org/acerca-del-pei/</a>
        <p>&nbsp;</p>
        <p>Seminario Permanente de Pensamiento Novohispano</p>
        <a href="http://web.uaemex.mx/iesu/PNovohispano/index.html">http://web.uaemex.mx/iesu/PNovohispano/index.html</a>
        <p>&nbsp;</p>
        <p>Sermones en Mexicano</p>
        <a href="https://sermonesenmexicano.unam.mx/proyecto.html">https://sermonesenmexicano.unam.mx/proyecto.html</a>

        <p>&nbsp;</p>
        <p>Grupo de Investigación Siglo de Oro</p>
        <a href="https://www.unav.edu/web/griso/presentacion">https://www.unav.edu/web/griso/presentacion</a>
    </div>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3>BIBLIOTECAS Y CATÁLOGOS DIGITALES</h3>
    <div class="sec-ei">
        <p>&nbsp;</p>
        <p>Biblioteca Digital Hispánica, Biblioteca Nacional de España</p>
        <a href="http://www.bne.es/es/Catalogos/BibliotecaDigitalHispanica/Inicio/">http://www.bne.es/es/Catalogos/BibliotecaDigitalHispanica/Inicio/</a>
        <p>&nbsp;</p>
        <p>Biblioteca Digital Mundial</p>
        <a href="https://www.wdl.org/es/">https://www.wdl.org/es/</a>
        <p>&nbsp;</p>
        <p>Biblioteca Digital del Pensamiento Novohispano</p>
        <a href="http://www.bdpn.unam.mx/">http://www.bdpn.unam.mx/</a>
        <p>&nbsp;</p>
        <p>Biblioteca Digital Siglo de Oro</p>
        <a href="https://www.bidiso.es/index.htm">https://www.bidiso.es/index.htm</a>
        <p>&nbsp;</p>
        <p>Colección Juan de Palafox y Mendoza, Universidad de las Américas Puebla</p>
        <a href="http://catarina.udlap.mx/xmLibris/projects/de_palafox/">http://catarina.udlap.mx/xmLibris/projects/de_palafox/</a>
        <p>&nbsp;</p>
        <p>Fondo Antiguo Biblioteca Franciscana, Universidad de las Américas Puebla</p>
        <a href="https://biblio.udlap.mx/franciscana/#"></a>
        <p>&nbsp;</p>
        <p>Biblioteca Nacional Digital de México, Biblioteca Nacional de México</p>
        <a href="http://catalogo.iib.unam.mx/F/-/?func=login&local_base=BNDM">http://catalogo.iib.unam.mx/F/-/?func=login&local_base=BNDM</a>
        <p>&nbsp;</p>
        <p>Biblioteca Virreinal, Centro de Estudios de Historia de México</p>
        <a href="http://www.cehm.org.mx/Biblioteca/4/biblioteca-virreinal">http://www.cehm.org.mx/Biblioteca/4/biblioteca-virreinal</a>
        <p>&nbsp;</p>
        <p>Biblioteca Virtual de las Letras Mexicanas, Biblioteca Virtual Miguel de Cervantes</p>
        <a href="http://www.letrasmexicanas.mx/">http://www.letrasmexicanas.mx/</a>
        <p>&nbsp;</p>
        <p>Catálogo Colectivo de Marcas de Fuego</p>
        <a href="http://www.marcasdefuego.buap.mx:8180/xmLibris/projects/firebrand/index.html">http://www.marcasdefuego.buap.mx:8180/xmLibris/projects/firebrand/index.html</a>
        <p>&nbsp;</p>
        <p>Gallica, Biblioteca Nacional de Francia</p>
        <a href="https://gallica.bnf.fr/accueil/es/content/accueil-es?mode=desktop">https://gallica.bnf.fr/accueil/es/content/accueil-es?mode=desktop</a>
        <p>&nbsp;</p>
        <p>Mexican Incunabula (1559-1600) at the Latin American Library, Tulane University Digital Library</p>
        <a href="https://digitallibrary.tulane.edu/islandora/object/tulane:p16313coll15">https://digitallibrary.tulane.edu/islandora/object/tulane:p16313coll15</a>
        <p>&nbsp;</p>
        <p>The John Carter Brown Library</p>
        <a href="https://jcblibrary.org/">https://jcblibrary.org/</a>
        <p>&nbsp;</p>
        <p>Patrimonio Bibliográfico Mexicano. Catálogo Colectivo de Fondos Antiguos</p>
        <a href="https://catalogo.iib.unam.mx/F/-/?func=login&local_base=cfa01">https://catalogo.iib.unam.mx/F/-/?func=login&local_base=cfa01</a>
        <p>&nbsp;</p>
        <p>Perseus Digital Library, Tufts University</p>
        <a href="https://www.perseus.tufts.edu/hopper/collections">https://www.perseus.tufts.edu/hopper/collections</a>
        <p>&nbsp;</p>
        <p>Primeros Libros de las Américas. Impresos Americanos del Siglo xvi en las Bibliotecas del Mundo</p>
        <a href="http://primeroslibros.org/">http://primeroslibros.org/</a>
        <p>&nbsp;</p>
        <p>SIBILA (Sistema Bibliográfico de la Literatura Novohispana)</p>
        <a href="https://sibila.iib.unam.mx/">https://sibila.iib.unam.mx/</a>
        <p>&nbsp;</p>
        <p>SiBiSor. Sistema Bibliográfico Sor Juana Inés de la Cruz</p>
        <a href="http://bd.iib.unam.mx/sibisor/index.html">http://bd.iib.unam.mx/sibisor/index.html</a>

    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3>REVISTAS</h3>
    <div class="sec-ei">
        <p>&nbsp;</p>
        <p>América Sin Nombre, Universidad de Alicante</p>
        <a href="https://americasinnombre.ua.es/index">https://americasinnombre.ua.es/index</a>

        <p>&nbsp;</p>
        <p>Bibliographica, Universidad Nacional Autónoma de México</p>
        <a href="https://bibliographica.iib.unam.mx/index.php/RB">https://bibliographica.iib.unam.mx/index.php/RB</a>

        <p>&nbsp;</p>
        <p>Prolija Memoria, Universidad del Claustro de Sor Juana</p>
        <a href="http://revistaselclaustro.mx/index.php/prolijamemoria2e">http://revistaselclaustro.mx/index.php/prolijamemoria2e</a>

    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3>ARTES</h3>
    <div class="sec-ei">
        <p>&nbsp;</p>
        <p>Alciato at Glasgow</p>
        <a href="https://www.emblems.arts.gla.ac.uk/alciato/">https://www.emblems.arts.gla.ac.uk/alciato/</a>

        <p>&nbsp;</p>
        <p>Códice Mendoza</p>
        <a href="https://www.codicemendoza.inah.gob.mx/inicio.php">https://www.codicemendoza.inah.gob.mx/inicio.php</a>

        <p>&nbsp;</p>
        <p>PESSCA. Project on the Engraved Sources of Spanish Colonial Art</p>
        <a href="https://colonialart.org/news">https://colonialart.org/news</a>

        <p>&nbsp;</p>
        <p>Mediateca, Instituto Nacional de Antropología e Historia</p>
        <a href="https://mediateca.inah.gob.mx/islandora_74/">https://mediateca.inah.gob.mx/islandora_74/</a>



        <p>&nbsp;</p>
        <p>Museo Nacional de Arte, México</p>
        <a href="http://munal.emuseum.com/collections/14056/Principal;jsessionid=2976C1413BC2C558A66D65A4F7327969/objects">http://munal.emuseum.com/collections/14056/Principal;jsessionid=2976C1413BC2C558A66D65A4F7327969/objects</a>

        <p>&nbsp;</p>
        <p>Museo Nacional del Virreinato, México</p>
        <a href="https://virreinato.inah.gob.mx/">https://virreinato.inah.gob.mx/</a>

        <p>&nbsp;</p>
        <p>Seminario de Música en la Nueva España y el México Independiente</p>
        <a href="http://musicat.unam.mx/">http://musicat.unam.mx/</a>

    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <h3>DICCIONARIOS Y CORPUS DOCUMENTALES</h3>
    <div class="sec-ei">
        <p>&nbsp;</p>
        <p>Corpus Diacrónico y Diatópico del Español de América (CORDIAM)</p>
        <a href="http://www.cordiam.org/">http://www.cordiam.org/</a>

        <p>&nbsp;</p>
        <p>Corpus Diacrónico del Español (CORDE)</p>
        <a href="http://corpus.rae.es/cordenet.html">http://corpus.rae.es/cordenet.html</a>

        <p>&nbsp;</p>
        <p>Diccionario de Abreviaturas Novohispanas</p>
        <a href="https://www.iifilologicas.unam.mx/dicabenovo">https://www.iifilologicas.unam.mx/dicabenovo </a>

        <p>&nbsp;</p>
        <p>Nuevo Tesoro Lexicográfico de la Lengua Española, Real Academia de la Lengua</p>
        <a href="http://ntlle.rae.es/ntlle/SrvltGUILoginNtlle">http://ntlle.rae.es/ntlle/SrvltGUILoginNtlle</a>
    </div>
</section-->

<section id="sec5">
    <h2>Enlaces de interés</h2>
    <div class="wrapper">
        <div class="interesIndex">
            <a href="http://estudiosindianos.org/acerca-del-pei/" target="_blank"><img src="assets/imgs/interes01.png" alt="Proyecto Estudios Indianos" title="Proyecto Estudios Indianos"></a>
            <a href="https://digitallibrary.tulane.edu/islandora/object/tulane:p16313coll15" target="_blank"><img src="assets/imgs/interes02.png" alt="Mexican Incunabula (1559-1600) at the Latin American Library, Tulane University Digital Library" title="Mexican Incunabula (1559-1600) at the Latin American Library, Tulane University Digital Library"></a>
            <a href="http://munal.emuseum.com/collections/14056/Principal;jsessionid=2976C1413BC2C558A66D65A4F7327969/objects" target="_blank"><img src="assets/imgs/interes03.png" alt="Museo Nacional de Arte, México" title="Museo Nacional de Arte, México"></a>
            <a href="https://www.unav.edu/web/griso/presentacion" target="_blank"><img src="assets/imgs/interes04.png" alt="Grupo de Investigación Siglo de Oro" title="Grupo de Investigación Siglo de Oro"></a>
        </div>
        <div class="interesIndex">
            <a href="http://www.cehm.org.mx/Biblioteca/4/biblioteca-virreinal" target="_blank"><img src="assets/imgs/interes05.png" alt="Biblioteca Virreinal, Centro de Estudios de Historia de México" title="Biblioteca Virreinal, Centro de Estudios de Historia de México"></a>
            <a href="http://www.marcasdefuego.buap.mx:8180/xmLibris/projects/firebrand/index.html" target="_blank"><img src="assets/imgs/interes06.png" alt="Catálogo Colectivo de Marcas de Fuego" title="Catálogo Colectivo de Marcas de Fuego"></a>
            <a href="http://web.uaemex.mx/iesu/PNovohispano/index.html" target="_blank"><img src="assets/imgs/interes07.png" alt="Seminario Permanente de Pensamiento Novohispano" title="Seminario Permanente de Pensamiento Novohispano"></a>
            <a href="https://www.wdl.org/es/" target="_blank"><img src="assets/imgs/interes08.png" alt="Biblioteca Digital Mundial" title="Biblioteca Digital Mundial"></a>
        </div>
        <div class="interesIndex">
            <a href="https://www.iifilologicas.unam.mx/pnovohispano/" target="_blank"><img src="assets/imgs/interes09.png" alt="Estudios del Pensamiento Novohispano" title="Estudios del Pensamiento Novohispano"></a>
            <a href="https://sibila.iib.unam.mx/" target="_blank"><img src="assets/imgs/interes10.png" alt="SIBILA: Sistema Bibliográfico de la Literatura Novohispana" title="SIBILA: Sistema Bibliográfico de la Literatura Novohispana"></a>
            <a href="http://catalogo.iib.unam.mx/F/-/?func=login&local_base=BNDM" target="_blank"><img src="assets/imgs/interes11.png" alt="Biblioteca Nacional de México" title="Biblioteca Nacional de México"></a>
            <a href="https://www.bidiso.es/index.htm" target="_blank"><img src="assets/imgs/interes12.png" alt="Biblioteca Digital Siglo de Oro" title="Biblioteca Digital Siglo de Oro"></a>
            <a href="https://www.adabi.org.mx" target="_blank"><img src="assets/imgs/interes13.png" alt="Apoyo al Desarrollo de Archivos y Bibliotecas de México, A.C. (ADABI)" title="Apoyo al Desarrollo de Archivos y Bibliotecas de México, A.C. (ADABI)"></a>
        </div>
        <div class="interesIndex">
            <a href="int/enlaces.html" class="link_bloque">Ver todos los enlaces de interés</a>
        </div>
    </div>
</section>