<!--div class="contenedor">
    VERSION 1
    <div class="fondo" fxLayout="row" fxLayoutAlign="center stretch">
        <div class="izquierda" fxFlex="50">

        </div>
        <div class="derecha" fxFlex="50">

        </div>
    </div>
    <div class="marco" fxLayout="column" fxLayoutAlign="space-around center">
        <div class="submarco">
            <div class="titulo">Siglo XVI</div>
            <div class="descripcion">Descripción de la obra</div>
            <div class="titulo">Capitulos</div>
        </div>

    </div>
</div-->

<div class="contenedor" fxLayout="row" fxLayoutAlign="space-around stretch" fxLayoutGap="10px">
    <div class="fondo" fxFlex="50">

    </div>
    <div class="marco" fxFlex="50" fxLayout="column" fxLayoutAlign="start">
        <div class="submarco">
            <div class="titulo">Historia de las Literaturas en México. Siglo XVI</div>
            <div class="descripcion">Descripción de la obra</div>
            <div class="titulo">Capitulos</div>
        </div>

    </div>
</div>