<p>Detalle de Sermón seleccionado</p>

<mat-tab-group animationDuration="2000ms">
    <mat-tab label="Detalle de sermon" isActive>
        <div class="resultado" fxFlex fxLayoutAlign="center space-around">
            <div class="sermon" fxLayout="column" *ngIf="sermon!=[]">
                <div class="fila" fxLayout="row">
                    <div class="concepto">Autor:</div>
                    <div class="valor">{{sermon.nombre}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="concepto">Titulo del Sermon:</div>
                    <div class="valor">{{sermon.titulo}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="concepto">Nombre del autor del libro:</div>
                    <div class="valor">{{libro?.autor}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="concepto">Titulo del libro:</div>
                    <div class="valor">{{libro?.libro_titulo}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="concepto">Inicio del sermón:</div>
                    <div class="valor">{{sermon.inicio_sermon}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="concepto">Ciudad:</div>
                    <div class="valor">{{libro?.libro_ciudad}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="concepto">Impresor:</div>
                    <div class="valor">{{libro?.libro_impresor}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="concepto">Año:</div>
                    <div class="valor">{{libro?.libro_anio}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="concepto">Thema:</div>
                    <div class="valor">{{sermon.thema}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="concepto">Protesta de fe:</div>
                    <div class="valor">{{sermon.protesta_fe}}</div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Catálogos bibliográficos">Catálogos bibliográficos</mat-tab>
    <mat-tab label="Preliminares">
        <div class="resultado" fxFlex fxLayoutAlign="center space-around">
            <div class="sermon" fxLayout="column" *ngIf="preliminares!=[]">
                <div class="fila" fxLayout="row">
                    <div class="preliminar-titulo" fxFlex="10">Ord.</div>
                    <div class="preliminar-titulo" fxFlex="15">Tipo</div>
                    <div class="preliminar-titulo" fxFlex="45">Titulo</div>
                    <div class="preliminar-titulo" fxFlex="30">Autor</div>
                </div>
                <div class="fila" fxLayout="row" *ngFor="let elemento of preliminares">
                    <div class="orden" fxFlex="10">{{elemento.orden_dentro_sermon}}</div>
                    <div class="tipo" fxFlex="15">{{elemento.preliminar_tipo}}</div>
                    <div class="titulo" fxFlex="45">{{elemento.preliminar_titulo}}</div>
                    <div class="autor" fxFlex="30">{{elemento.autor}}</div>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Repositorios">Repositorios</mat-tab>
</mat-tab-group>