.espera {
    left: 0 !important;
    top: 0 !important;
    z-index: 500 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
    visibility: visible !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px !important;
    padding-top: 100px;
    padding-bottom: 20px;
}

.esperaSermon {
    left: 0 !important;
    top: 0 !important;
    z-index: 100000 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
    visibility: visible !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px !important;
    padding-top: 86px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.cerrar {
    background-color: white;
    border-top: 1px solid #AA7D04;
    border-left: 1px solid #AA7D04;
    border-right: 1px solid #AA7D04;
    padding: 5px 20px;
    color: red;
    cursor: pointer;
}

.contenedorTC {
    width: 98%;
    height: 98%;
    z-index: 1000 !important;
    overflow-y: auto;
    background-color: lightgray;
    border-bottom: 2px solid #AA7D04;
    border-left: 2px solid #AA7D04;
    border-right: 2px solid #AA7D04;
}

.contenedorSermon {
    width: 100%;
    height: 100%;
    z-index: 1000 !important;
    overflow-y: auto;
    background-color: lightgray;
    border-bottom: 2px solid #AA7D04;
    border-left: 2px solid #AA7D04;
    border-right: 2px solid #AA7D04;
}

.contenedorPortada {
    width: auto;
    height: 800px;
    z-index: 501 !important;
    overflow-y: auto;
    background-color: white;
    border-bottom: 2px solid #AA7D04;
    border-left: 2px solid #AA7D04;
    border-right: 2px solid #AA7D04;
}

.accion {
    width: 98%;
}

.ref_portada {
    padding: 0 10px 0 10px;
}

.titulo {
    font-weight: bold;
}

.ref_portada {
    width: 250px;
}

.referencia {
    margin-top: 20px;
}