ul {
    list-style-type: none;
}

li {
    padding: 3px 0;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    width: 100%;
    display: inherit;
}

a:active {
    background-color: #aa7d04;
    color: white;
}

.menu {
    background-color: #dcc27b;
}

.opcion:hover,
.opcion :active {
    background-color: #aa7d04;
}