<mat-list>
    <div mat-subheader>Opciones</div>
    <a mat-list-item routerLink="/seccion1" (click)="onToggleNV()">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>Textos Literarios I</div>
    </a>
    <a mat-list-item routerLink="/seccion2" (click)="onToggleNV()">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>Textos Literarios III</div>
    </a>
    <a mat-list-item routerLink="/" (click)="onToggleNV()">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>Fototeca</div>
    </a>
    <a mat-list-item routerLink="/seccion2" (click)="onToggleNV()">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>Videoteca</div>
    </a>
    <a mat-list-item routerLink="/seccion2" (click)="onToggleNV()">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>Biblioteca</div>
    </a>
    <a mat-list-item routerLink="/seccion2" (click)="onToggleNV()">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>Noticias</div>
    </a>
    <a mat-list-item routerLink="/seccion2" (click)="onToggleNV()">
        <mat-icon mat-list-icon>folder</mat-icon>
        <div mat-line>Usuarios</div>
    </a>
    <mat-divider></mat-divider>

</mat-list>