.espera {
    left: 0 !important;
    top: 0 !important;
    z-index: 500 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
    visibility: visible !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

.contenedor {
    width: 98%;
    height: 90%;
    z-index: 501 !important;
    overflow-y: auto;
    background-color: white;
    border-radius: 5px;
    border: 2px solid black;
    margin: 50px 20px;
}


/***********************************************/

.encabezado {
    padding-left: 10px;
    position: relative;
    border-bottom: 1px double lightgray;
}

.titulo {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid lightgray;
    padding: 2px;
}

.texto {
    min-height: 195px;
    padding: 5px;
    text-align: justify;
    font-size: x-large;
    white-space: pre-wrap
}

.contenedor-imagen {
    float: right;
    /*border: 1px solid lightgray;*/
    border-radius: 3px;
    margin: 10px;
    overflow: hidden;
}

.imagen {
    width: 100%;
    height: auto;
    margin: 0 !important;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.img_avatar {
    background-image: url('http://localhost:4200/assets/imgs/filologicas_logo.jpg');
    background-size: cover;
}