<div class="espera" fxLayout="column" fxLayoutAlign="start streatch">
    <div class="tNoticia contenedor" fxLayout="column">
        <div class="encabezado">
            <div class="titulo">{{noticia.titulo}}</div>
            <div>vigencia: {{noticia.inicio}} al {{noticia.termino}}</div>
            <div class="liga" *ngIf="noticia.ligaExterna">Para mayor información:
                <a [attr.href]="noticia.ligaExterna | seguro">{{noticia.ligaExterna}}</a>
            </div>
            <div class="cerrar" (click)="cerrar()">
                <mat-icon>clear</mat-icon>
            </div>
        </div>
        <div class="cuerpo" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
            <div class="contenedor-imagen" fxFlex="50" fxLayout="column" fxLayoutAlign="start streach">
                <img class="imagen" src="{{ruta}}/{{noticia.imagen}}">
            </div>
            <div class="texto" fxFlex="50">
                {{noticia.texto}}
            </div>
        </div>
    </div>
</div>