<app-imagen-tc *ngIf="imgSel" [imagen]="imgSel" (quitar)="cerrarImagen()"></app-imagen-tc>
<div class="marco" fxLayout="column" fxLayoutAlign="start streatch">

    <mat-card class="tNoticia" *ngFor="let elemento of listaNoticias">
        <mat-card-header>
            <div mat-card-avatar class="img_avatar"></div>
            <mat-card-title>{{elemento.titulo}}</mat-card-title>
            <mat-card-subtitle>vigencia: {{elemento.inicio}} al {{elemento.termino}}</mat-card-subtitle>
        </mat-card-header>
        <div class="contenedor-imagen" (click)="seleccionarImagen(elemento.id+'_'+elemento.imagen)">
            <img class="imagen" src="http://localhost:8000/img_noticias/{{elemento.id}}_{{elemento.imagen}}">
            <div class="overlay">
                <div class="text">Click para aumentar</div>
            </div>
        </div>
        <mat-card-content>
            <p class="texto">
                {{elemento.texto}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="liga" *ngIf="elemento.ligaExterna">Para mayor información: <a>{{elemento.ligaExterna}}</a></div>
        </mat-card-actions>
    </mat-card>
</div>