.marco-contacto {
    margin-bottom: 50px;
}

.marco-datos {
    border-radius: 20px;
    border: 4px dashed rgb(150, 2, 2);
    margin: 50px;
}

.titulo,
.investigador,
.telefono {
    font-weight: bold;
}

.titulo {
    margin: 20px 0;
}

.investigador,
.telefono {
    margin: 0;
}

.correo {
    margin: 20px 0;
}

.marco-mapa {
    position: relative;
}

.mapa {
    width: 97%;
    height: 95%;
    border: 1px solid #b70306;
}

.c1,
.c2 {
    background-color: #b70306;
    width: 45%;
    height: 45%;
    z-index: -1;
}

.c1 {
    position: absolute;
    left: 0;
    top: 0;
}

.c2 {
    position: absolute;
    right: 0;
    bottom: 0;
}