<div class="contenedor" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="space-around">
    <mat-card class="tarjeta" fxFlex="0 0 calc(50% - 10px)">
        <mat-card-header>
            <div mat-card-avatar class="avatarUNAM"></div>
            <div mat-card-avatar class="avatarFll"></div>
            <mat-card-title>Dr. Ana Castaño Navarro</mat-card-title>
            <mat-card-subtitle>Instituto de Investigaciones Filológicas. UNAM</mat-card-subtitle>
            <mat-card-subtitle>anushkacasnav@gmail.com</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
    <mat-card class="tarjeta" fxFlex="0 0 calc(45% - 10px)">
        <mat-card-header>
            <div mat-card-avatar class="avatarUNAM"></div>
            <mat-card-title>Mtto. Jorge Gutiérrez Reyna. </mat-card-title>
            <mat-card-subtitle>Facultad de Filosofía y Letras</mat-card-subtitle>
            <mat-card-subtitle>jorge_gtz_reyna@hotmail.com</mat-card-subtitle>
            <div mat-card-avatar class="avatarFll"></div>
        </mat-card-header>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
</div>