<div class="wrapper" fxLayout="column">
    <div class="ubicacion">
        <div id="migas"> Contactos<img src="assets/imgs/migaSep.jpg" alt="separador de miga"></div>
    </div>
    <div class="marco_contacto" fxFlex fxLayout="row">
        <div class="datos" fxFlex="50">
            <div class="marco-datos" fxLayout="column" fxLayoutAlign="start center">
                <p class="titulo">Instituto de Investigaciones Filológicas UNAM</p>
                <p class="investigador">Ana Castaño Navarro</p>
                <p class="investigador">Jorge Gutierrez Reyna</p>
                <p class="correo">
                    <a href="mailto:hlmnovohispana@unam.mx?Subject=Historia%20de%20las%20literaturas%20en%20México">hlmnovohispana@unam.mx</a>
                </p>

                <p class="telefono"> 56227492 y 5622-6666 ext. 49268 </p>
                <p class="horario">lunes a viernes de 10 a 17hrs</p>

            </div>
        </div>
        <div class="marco-mapa" fxFlex="50" fxLayoutAlign="center center">
            <div class="c1"></div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3765.249788917886!2d-99.18312328468461!3d19.314964249435825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85ce000cc4b9edc5%3A0xe25acf4fe2d3f28b!2sInstituto%20de%20Investigaciones%20Filol%C3%B3gicas!5e0!3m2!1ses-419!2smx!4v1631360627286!5m2!1ses-419!2smx"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div class="c2"></div>
        </div>
    </div>
</div>