<div class="contenedor" fxFlex fxLayout="column" fxLayoutAlign="center">
    <div class="titulo">
        Videos de la epoca
    </div>
    <div class="lista-videos" fxLayout="row wrap" fxLayout.fxLayout.lt-sm="column" fxLayoutGap="40px" fxLayoutAlign="space-around">
        <ng-container *ngFor="let video of videos">
            <mat-card class="tarjeta" fxFlex="0 1 calc(33.3% - 32px)" fxFlex.lt-md="0 1 calc(50% - 32px)" fxFlex.lt-sm="100%">
                <mat-card-header>
                    <mat-card-title>{{video.titulo}}</mat-card-title>
                    <mat-card-subtitle>{{video.subtitulo}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <iframe width="350" height="250" [src]="video.url | seguro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </div>
</div>