<!--mat-card class="buscando" *ngIf="estaCargando">
    <mat-card-content>
        <h2 class="example-h2">Buscando información ...</h2>
        <section class="example-section">
            <mat-progress-bar class="example-margin" [color]="'primary'" [mode]="'indeterminate'" [value]="50" [bufferValue]="100">
            </mat-progress-bar>
        </section>
    </mat-card-content>
</mat-card-->
<app-espera *ngIf="estaCargando" [tipo]="2"></app-espera>
<div class="contenedor" *ngIf="!estaCargando">
    <as-split direction="horizontal">
        <as-split-area [size]="40" [visible]="om_estructura" [order]="0">
            <ngx-treeview [config]="config" [items]="items" (selectedChange)="onSelectedChange($event)" (filterChange)="onFilterChange($event)">
            </ngx-treeview>
        </as-split-area>
        <as-split-area [size]="60" [order]="1">
            <as-split direction="vertical">
                <as-split-area [size]="70" [visible]="om_detalle" [order]="0">
                    <app-detalle-oe [elemento]="elementoSeleccionado" [tipo]="2"></app-detalle-oe>
                </as-split-area>
                <as-split-area [size]="30" [visible]="om_lista" [order]="1">
                    <div class="lista-resultado" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="start stretch">
                        <app-detalle-oe class="tarjetaresumen" [elemento]="elemento" *ngFor="let elemento of resultado; let i = index" (click)="elementoSeleccionado=elemento" fxFlex="0 0 calc(25% - 10px)"></app-detalle-oe>
                    </div>

                </as-split-area>
            </as-split>
        </as-split-area>
    </as-split>
    <div class="controles" fxLayout="column" fxLayoutGap="3px">
        <button class="ctrl" mat-raised-button color="primary" (click)="ctrlVisible=!ctrlVisible">{{ctrlVisible?'Ocultar':'Opciones'}}</button>
        <button class="ctrl" mat-raised-button color="accent" (click)="om_estructura=!om_estructura" *ngIf="ctrlVisible">{{om_estructura?'Ocultar Estructura':'Mostrar Estructura'}}</button>
        <button class="ctrl" mat-raised-button color="accent" (click)="om_detalle=!om_detalle" *ngIf="ctrlVisible">{{om_detalle?'Ocultar Detalle':'Mostrar Detalle'}}</button>
        <button class="ctrl" mat-raised-button color="accent" (click)="om_lista=!om_lista" *ngIf="ctrlVisible">{{om_lista?'Ocultar Lista':'Mostrar Lista'}}</button>
    </div>
</div>