<header>
    <!------------------------------------------------------------------------------------------
        barra de logotipos.
    ------------------------------------------------------------------------------------------->
    <div class="wrapper">
        <div id="logos">
            <a href="https://www.unam.mx" target="_blank">
                <img src="assets/img/logo_unam.png" alt="Logo Universidad Nacional Autónoma de México" title="Universidad Nacional Autónoma de México">
            </a>
            <a href="https://www.unam.mx" target="_blank">
                <img src="assets/img/leyenda_unam.png" alt="Leyenda Universidad Nacional Autónoma de México" title="Universidad Nacional Autónoma de México">
            </a> &nbsp;
            <a href="https://www.iifilologicas.unam.mx/" target="_blank">
                <img src="assets/img/logo_iif.png" alt="Logo Instituto de Investigaciones Filológicas" title="Instituto de Investigaciones Filológicas">
            </a>

        </div>
    </div>
</header>
<div id="bannerTop">
    <div id="video-banner">
        <video autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="assets/misc/banner_baja.mp4" type="video/mp4">
            <source src="assets/misc/banner_baja.webm">
            <source src="assets/misc/banner_baja.ogv">
        </video>
    </div>

    <div id="logoBuscador" class="wrapper flex-center">
        <div id="logoHLM">
            <a href="index.html"><img src="assets/img/logo-hlm.png" alt="Historia de las Literaturas Mexicanas. Siglo XVI al XVIII" title="Historia de las Literaturas Mexicanas. Siglo XVI al XVIII"></a>
        </div>

        <div>

        </div>
    </div>
    <div class="buscador" id="marca" #marca>
        <!--formulario buscador-->

        <!--div class="busq-exacta">
        <mat-checkbox [(ngModel)]="bexacta">busqueda <br> exacta</mat-checkbox>
    </div-->


        <mat-form-field class="my-form-field">
            <mat-label>Escriba la(s) palabra(s) que busca...</mat-label>
            <input matInput type="text" [(ngModel)]="txtbuscar" (keyup.enter)="buscarTermino($event)">
            <button *ngIf="txtbuscar" mat-icon-button matSuffix (click)="txtbuscar=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <button mat-mini-fab color="primary" (click)="buscarTermino($event)">
          <mat-icon>search</mat-icon>
        </button>
        <!--input id="cajaPalabras" size="50" name="request" value="" placeholder="Escriba la(s) palabra(s) que busca..." align="middle">
        <input id="irBuscar" type="image" alt=" Go " src="/assets/img/lupa.png" border="0"-->
    </div>
</div>

<mat-drawer-container>
    <mat-drawer #drawer mode="side" color="primary">
        <app-opciones (navBarToggle)="drawer.toggle()"></app-opciones>
    </mat-drawer>
    <mat-drawer-content>
        <app-encabezado (navBarToggle)="drawer.toggle()"></app-encabezado>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>