mat-drawer-container,
mat-drawer {
    height: 100%;
}

mat-drawer {
    width: 200px;
}

mat-drawer-content {
    background-color: cadetblue !important;
}

.elemento-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}