mat-drawer-container {
    width: 100vw;
    background-color: rgba(255, 255, 255, 0) !important;
}

mat-drawer {
    width: 250px;
    background-color: white;
}

.bloqueado {
    left: 0 !important;
    top: 0 !important;
    z-index: 500 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
    visibility: visible !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

.imgMaguey {
    width: 100%;
    height: auto;
}

.elemento {
    height: 100%;
}

.leermas {
    width: 70%;
    height: 70%;
    padding: 15px;
    z-index: 501 !important;
    background-color: white;
    overflow-y: hidden;
}

.cerrar-leermas {
    color: #BB0207;
    cursor: pointer;
}

.expl-iso {
    padding: 10px;
    overflow-y: scroll;
}

.btn {
    cursor: pointer;
}