<style>
     :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <mat-toolbar color="primary">
        <img src="assets/logoUNAM.png" width="60">
        <section>
            <div class="logo d">Textos Lit</div>
            <div class="opt1">Segunda</div>
            <div class="opt2">Videos</div>
            <div class="opt3">Fotos</div>
            <div class="opt4">Libros</div>
            <div class="opt5">Noticias</div>
            <div class="logo I">Textos Lit</div>
        </section>
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
            <li ngbNavItem>
                <a ngbNavLink>First</a>
                <ng-template ngbNavContent>First content</ng-template>
            </li>
            <li ngbNavItem>
                <a ngbNavLink>Second</a>
                <ng-template ngbNavContent>Second content</ng-template>
            </li>
        </ul>
        <span class="spacer"></span>
        <button mat-flat-button color="primary">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-flat-button color="primary">
          <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
    <div class="spacer"></div>
</div>

<div [ngbNavOutlet]="nav"></div>

<router-outlet></router-outlet>