<header>
    <!------------------------------------------------------------------------------------------
        barra de logotipos.
    ------------------------------------------------------------------------------------------->
    <div class="wrapper">
        <div id="logos">
            <a href="https://www.unam.mx" target="_blank">
                <img src="assets/img/logo_unam.png" alt="Logo Universidad Nacional Autónoma de México" title="Universidad Nacional Autónoma de México">
            </a>
            <a href="https://www.unam.mx" target="_blank">
                <img src="assets/img/leyenda_unam.png" alt="Leyenda Universidad Nacional Autónoma de México" title="Universidad Nacional Autónoma de México">
            </a> &nbsp;
            <a href="https://www.iifilologicas.unam.mx/" target="_blank">
                <img src="assets/img/logo_iif.png" alt="Logo Instituto de Investigaciones Filológicas" title="Instituto de Investigaciones Filológicas">
            </a>

        </div>
    </div>
</header>
<div id="bannerTop" *ngIf="r.url=='/inicio'">
    <!------------------------------------------------------------------------------------------
        sección del banner
    ------------------------------------------------------------------------------------------->
    <div class="wrapper flex-space">
        <div id="logoHLM"></div>
        <div id="search"></div>

    </div>
</div>
<mat-drawer-container [class.altura-inicial]="r.url=='/inicio'">
    <mat-drawer #drawer mode="side" color="primary">
        <app-opciones (navBarToggle)="drawer.toggle()"></app-opciones>
    </mat-drawer>
    <mat-drawer-content [class.altura-inicial]="r.url=='/inicio'">
        <app-encabezado (navBarToggle)="drawer.toggle()"></app-encabezado>
        <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>

<section id="sec1" *ngIf="r.url=='/inicio'">
    <div class="wrapper">
        <h1>Publicaciones HLM</h1>
        <div class="flex-justify">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</section>


<section id="sec2" *ngIf="r.url=='/inicio'">
    <div class="wrapper">
        <h1 class="h1white">Investigación</h1>
    </div>
</section>

<section id="sec3" *ngIf="r.url=='/inicio'">
    <h1>Multimedia</h1>
    <div id="carrusel">

    </div>
</section>

<app-dinteres *ngIf="r.url=='/inicio'"></app-dinteres>

<footer *ngIf="r.url=='/inicio'">
    <div class="pie" fxFlex fxFlexLayout="row" fxLayoutAlign="space-around">
        <div class="izquierda">2020</div>
        <div class="centro">UNAM, ...</div>
        <div class="derecha">V 0.1.7</div>
    </div>
</footer>