<mat-table [dataSource]="detCatalogo">

    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef fxFlex="70px"> ID </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="50px"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
        <mat-header-cell *matHeaderCellDef fxFlex="250px"> NOMBRE </mat-header-cell>
        <mat-cell *matCellDef="let element" fxFlex="250px"> {{element.nombre}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="narratio" fxLayoutGap="5px">
        <mat-header-cell *matHeaderCellDef> NARRATIO </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-mini-fab color="primary" *ngIf=" fSelDet == element.id">
                <mat-icon (click)="abrirDetalle(element)">menu</mat-icon>
            </button> {{element.resumen}}
        </mat-cell>
    </ng-container>


    <mat-header-row *matHeaderRowDef="columnasDetalle"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnasDetalle;" [ngClass]="{'seleccion': fSelDet == row.id}" (click)="seleccionarDetalle(row)"></mat-row>
</mat-table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>