/*Tarjeta Texto Detalle*/

.tarjeta {
    height: 100%;
}

.tituloTarjeta {
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid gray;
    font-size: medium;
}


/*Tarjeta Texto Resumen*/

.TRTarjeta {
    height: 100%;
}

.TRTituloTarjeta {
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid gray;
    font-size: medium;
}

.TRContenidoTarjeta {
    font-size: medium;
}


/*Tarjeta imagen resumen*/

.contenedorimg {
    position: relative;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imgprev {
    width: 100%;
    height: 100%;
}

.TarjetaIR {
    height: 400px;
    overflow-y: scroll;
    padding-bottom: 10px;
}


/*------------------------------------------*/

.video {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
}


/******************************************/

.pdfvp {
    display: block;
    width: 100%;
    height: 50hv;
    overflow: hidden;
    scroll-behavior: auto;
}