/*Tarjeta Texto Detalle*/

.contenidoTarjeta {
    font-size: large;
    text-align: center;
}

.tituloTarjeta {
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid gray;
    font-size: medium;
}

.sectexto {
    padding-top: 50px;
    box-shadow: 0 10px 10px 5px;
    padding-right: 150px;
    padding-left: 150px;
    border-radius: 10px;
}

.ct01 {
    position: relative;
    width: 600px;
}

.imgprev01 {
    position: absolute;
    top: 40px;
    left: 0;
    width: 600px;
    height: auto;
}

.sectexto01 {
    position: absolute;
    top: 40px;
    left: 0;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 10px;
    padding-right: 10px;
}

.bt1 {
    position: absolute;
    top: 10px;
    right: 15px;
}


/*Tarjeta Texto Resumen*/

.TRTarjeta {
    height: 100%;
    cursor: pointer;
}

.TRTituloTarjeta {
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid gray;
    font-size: medium;
    cursor: pointer;
}

.TRContenidoTarjeta {
    font-size: medium;
    cursor: pointer;
}


/*Tarjeta imagen resumen*/

.contenedorimg {
    position: relative;
    border: 1px solid black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.TarjetaIR {
    border-radius: 10px;
    background-color: white;
    height: 400px;
    overflow: hidden;
    padding-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px;
}

.imgprev {
    width: 100%;
    height: auto;
}

.textoIR {
    height: 100px;
    width: 100%;
    padding: 10px 5px 0 5px;
}


/*------------------------------------------*/

.video {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
}


/******************************************/

.pdfvp {
    display: block;
    width: 100%;
    height: 50hv;
    overflow: hidden;
    scroll-behavior: auto;
}