<!--Tarjeta para resumen de Texto-->
<mat-card class="TRTarjeta" *ngIf="elemento?.tipo==1 && tipo==1">
    <mat-card-header>
        <mat-card-title>
            <div class="tituloTarjeta" [innerHTML]="elemento.capitulo | resaltaTexto:termino"></div>
        </mat-card-title>
        <mat-card-subtitle>
            <div [innerHTML]="elemento.descripcion | resaltaTexto:termino"></div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-between">
        <!--div fxLayout fxLayoutAlign="space-between">
            <p class="TRTituloTarjeta">{{elemento.id}} - {{elemento.capitulo}}</p>
        </div-->
        <div class="TRContenidoTarjeta" [innerHTML]="recorta(termino, elemento.texto, 150) | resaltaTexto:termino"></div>
    </mat-card-content>
</mat-card>

<!--Tarjeta para detalle de Texto-->
<!------------------------------------------------------------------------------------------
    version 1
------------------------------------------------------------------------------------------->
<mat-card class="tarjeta" *ngIf="elemento?.tipo==1 && tipo==2">
    <mat-card-content fxLayout="row" fxLayout.lt-lg="column" fxLayoutAlign="space-around" fxLayoutGap="30px">

        <img class="imgprev" fxFlex="50" *ngIf="elemento.etiquetas.indexOf('portada')>=0" src="{{elemento.referencia}}">

        <div class="sectexto" fxLayout="column">
            <mat-card-header>
                <mat-card-title class="tituloTarjeta">
                    <div class="tituloTarjeta" [innerHTML]="elemento.capitulo | resaltaTexto:termino"></div>
                </mat-card-title>
                <mat-card-subtitle>
                    <div [innerHTML]="elemento.descripcion | resaltaTexto:termino"></div>
                </mat-card-subtitle>
            </mat-card-header>
            <div class="contenidoTarjeta" fxFlex="50" [innerHTML]="elemento.texto | resaltaTexto:termino"></div>
        </div>
    </mat-card-content>
</mat-card>

<!------------------------------------------------------------------------------------------
version 2
------------------------------------------------------------------------------------------->
<!--div class="tarjeta" *ngIf="elemento?.tipo==1 && tipo==2" fxLayout="column" fxLayoutAlign="start space-around">
    <div class="cabecera" fxLayout="row">
        <div fxFlex>
            <div class="tituloTarjeta" [innerHTML]="elemento.capitulo | resaltaTexto:termino">
            </div>
            <div [innerHTML]="elemento.descripcion | resaltaTexto:termino"></div>
        </div>
    </div>
    <div class="contenido" fxLayout="row" fxLayoutAlign="center">
        <div class="ct01">
            <img class="imgprev01" *ngIf="elemento.etiquetas.indexOf('portada')>=0" src="{{elemento.referencia}}">
            <div class="sectexto01" *ngIf="mostrarTexto" [innerHTML]="elemento.texto | resaltaTexto:termino"></div>
            <button class="bt" mat-stroked-button *ngIf="mostrarTexto" (click)="ocultarTexto()">
                <mat-icon>keyboard_arrow_up</mat-icon> Ocultar Resumen
            </button>
            <button class="bt" mat-stroked-button *ngIf="!mostrarTexto" (click)="ocultarTexto()">
                <mat-icon>keyboard_arrow_down</mat-icon> Mostrar Resumen
            </button>
        </div>
    </div>
</div-->

<!--Tarjeta para resumen de IMAGEN-->
<div class="TarjetaIR" *ngIf="elemento?.tipo==2  && tipo==1">
    <div class="textoIR">{{elemento.descripcion}}</div>
    <img class="imgprev" src="{{elemento.referencia}}">
</div>

<!--Tarjeta para detalle de IMAGEN-->
<mat-card class="tarjeta" *ngIf="elemento?.tipo==2 && tipo==2">
    <mat-card-header>
        <mat-card-title class="tituloTarjeta">{{elemento.capitulo}}</mat-card-title>
        <mat-card-subtitle>{{elemento.descripcion}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-between">
        <div class="contenedorimg">
            <!--div class="tituloTarjetaimg">
                <p>{{elemento.capitulo}} </p>
            </div-->

            <a [href]="elemento.referencia | seguro" target="_black" *ngIf="elemento.referencia != null">
                <img class="imgprev" src="{{elemento.referencia}}">
            </a>
            <a [href]="elemento.referencia_2 | seguro" target="_black" *ngIf="elemento.referencia_2!=null">
                <img class="imgprev" src="{{elemento.referencia_2}}">
            </a>
            <!--p class="pieTarjetaimg">{{elemento.descripcion}}</p-->
        </div>
    </mat-card-content>
</mat-card>

<!--Tarjeta para resumen de VIDEO-->
<!--mat-card class="TRTarjeta" *ngIf="elemento?.tipo==3 && tipo==1">
    <mat-card-header>
        <mat-card-title class="tituloTarjeta">{{elemento.descripcion}}</mat-card-title>
        <mat-card-subtitle>{{elemento.capitulo}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <iframe class="video" [src]="elemento.referencia | seguro" frameborder="0" disabled></iframe>
    </mat-card-content>
</mat-card-->

<!--Tarjeta para DETALLE de VIDEO-->
<!---mat-card class="tarjeta" *ngIf="elemento?.tipo==3 && tipo==2" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-card-header>
        <mat-card-title class="tituloTarjeta">{{elemento.descripcion}}</mat-card-title>
        <mat-card-subtitle>{{elemento.capitulo}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxFlex>
        <iframe fxFlex [src]="elemento.referencia | seguro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </mat-card-content>
</mat-card-->

<!--Tarjeta para resumen de DOCUMENTO-->
<mat-card class="TRTarjeta" *ngIf="elemento?.tipo==4 && tipo==1">
    <mat-card-header>
        <mat-card-title class="tituloTarjeta">{{elemento.descripcion}}</mat-card-title>
        <mat-card-subtitle>{{elemento.capitulo}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayoutAlign="center">
        <img style="width: 100px; align-self:center" class="imgprev" src="/assets/imgs/pdf-p.png">
    </mat-card-content>
</mat-card>

<!--Tarjeta para detalle de DOCUMENTO-->
<mat-card class="tarjeta" *ngIf="elemento?.tipo==4 && tipo==2" fxLayout="column" fxLayoutAlign="start stretch">
    <mat-card-header>
        <mat-card-title class="tituloTarjeta">{{elemento.descripcion}}</mat-card-title>
        <mat-card-subtitle>{{elemento.capitulo}} <a href="{{elemento.referencia}}" download>descargar</a></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="pdfvp">
            <pdf-viewer *ngIf="elemento?.tipo==4 && tipo==2" [src]="elemento.referencia" [render-text]="true" [show-all]="true" [fit-to-page]="true" class="pdfvp">
            </pdf-viewer>
        </div>
    </mat-card-content>
</mat-card>






<!--Tarjeta para resumen de Texto Para titulo de capitulo-->
<div class="TarjetaIR-3" *ngIf="elemento?.tipo==1 && tipo==3" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
    <div class="tituloTarjeta-3" [innerHTML]="elemento.capitulo | resaltaTexto:termino"></div>
    <div [innerHTML]="elemento.descripcion | resaltaTexto:termino"></div>
    <div class="TRContenidoTarjeta-3" [innerHTML]="recorta(termino, elemento.texto, 150) | resaltaTexto:termino"></div>
    <img class="imgprev-3" src="{{elemento.referencia}}">
</div>

<!--Tarjeta para resumen de IMAGEN -->
<div class="TarjetaIR-3" *ngIf="elemento?.tipo==2  && tipo==3" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
    <div class="textoIR">{{elemento.descripcion}}</div>
    <div class="contimg-3">
        <img class="imgprev-3" src="{{elemento.referencia}}">
    </div>
</div>


<!--Tarjeta para resumen de Texto Para titulo de capitulo-->
<div class="TarjetaIR-4" *ngIf="elemento?.tipo==1 && tipo==4" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
    <div class="tituloTarjeta-4" [innerHTML]="elemento.capitulo | resaltaTexto:termino"></div>
    <div [innerHTML]="elemento.descripcion | resaltaTexto:termino"></div>
    <div class="TRContenidoTarjeta-4" [innerHTML]="recorta(termino, elemento.texto, 150) | resaltaTexto:termino"></div>
    <div class="contimg-4">
        <img class="imgprev-4" src="{{elemento.referencia}}">
    </div>
</div>







<!--******************************************************************************************** -->
<!--Tarjeta para resumen de IMAGEN -->
<div class="TarjetaIR-4" *ngIf="elemento?.tipo==2  && tipo==4" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
    <div class="textoIR-4">{{elemento.descripcion}}</div>
    <div class="contimg-4">
        <img class="imgprev-4" src="{{elemento.referencia}}">
        <img class="imgrecurso" src="./assets/imgs/recurso-grafico.jpg">
    </div>
</div>
<!--Tarjeta para resumen de VIDEO o MULTIMEDIA -->
<div class="TarjetaIR-4" *ngIf="elemento?.tipo==3  && tipo==4" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
    <div class="textoIR-4">{{elemento.descripcion}}</div>
    <div class="contimg-4">
        <img class="imgprev-4" src="{{elemento.referencia}}">
        <img class="imgrecurso" src="./assets/imgs/recurso-multimedia.jpg">
    </div>
</div>
<!--Tarjeta para resumen de RECURSO WEB (liga) -->
<div class="TarjetaIR-4" *ngIf="elemento?.tipo==5  && tipo==4" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
    <div class="textoIR-4">{{elemento.descripcion}}</div>
    <div class="contimg-4">
        <img class="imgprev-4" src="{{elemento.referencia}}">
        <img class="imgrecurso" src="./assets/imgs/recurso-web.jpg">
    </div>
</div>
<!--Tarjeta para resumen de PDF -->
<div class="TarjetaIR-4" *ngIf="elemento?.tipo==6  && tipo==4" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px">
    <div class="textoIR-4">{{elemento.descripcion}}</div>
    <div class="contimg-4">
        <img class="imgprev-4" src="{{elemento.referencia}}">
        <img class="imgrecurso" src="./assets/imgs/recurso-pdf.jpg">
    </div>
</div>



<!--Tarjeta para detalle de VIDEO -->
<mat-card class="tarjeta" *ngIf="elemento?.tipo==3 && tipo==2">
    <mat-card-header>
        <mat-card-title class="tituloTarjeta">{{elemento.capitulo}}</mat-card-title>
        <mat-card-subtitle>{{elemento.descripcion}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-between">

        <iframe fxFlex [src]="elemento.referencia_2 | seguro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </mat-card-content>
</mat-card>

<!--Tarjeta para detalle de Recurso en Linea -->
<mat-card class="tarjeta" *ngIf="elemento?.tipo==5 && tipo==2">
    <mat-card-header>
        <mat-card-title class="tituloTarjeta">{{elemento.capitulo}}</mat-card-title>
        <mat-card-subtitle>{{elemento.descripcion}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-between">
        <div class="contenedorimg">
            <a [href]="elemento.referencia_2 | seguro" target="_black" *ngIf="elemento.referencia_2!=null">
                <img class="imgprev" src="{{elemento.referencia}}">
            </a>
        </div>
    </mat-card-content>
</mat-card>
<!--Tarjeta para detalle de PDF -->
<mat-card class="tarjeta" *ngIf="elemento?.tipo==6 && tipo==2">
    <mat-card-header>
        <mat-card-title class="tituloTarjeta">{{elemento.capitulo}}</mat-card-title>
        <mat-card-subtitle>{{elemento.descripcion}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="space-between">
        <div class="contenedorimg">
            <a [href]="elemento.referencia_2 | seguro" target="_black" *ngIf="elemento.referencia_2!=null">
                <img class="imgprev" src="{{elemento.referencia}}">
            </a>
        </div>
    </mat-card-content>
</mat-card>