:host {
    height: 100%;
}


/*Tarjeta Texto Detalle*/

.contenidoTarjeta {
    font-size: large;
    text-align: left;
}

.tituloTarjeta {
    font-style: italic;
    font-weight: bold;
    font-size: medium;
}

.sectexto {
    padding-top: 50px;
    box-shadow: 0 10px 10px 5px;
    padding-right: 150px;
    padding-left: 150px;
    border-radius: 10px;
}

.ct01 {
    position: relative;
    width: 600px;
}

.imgprev01 {
    position: absolute;
    top: 40px;
    left: 0;
    width: 600px;
    height: auto;
}

.sectexto01 {
    position: absolute;
    top: 40px;
    left: 0;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.8);
    padding-left: 10px;
    padding-right: 10px;
}

.bt1 {
    position: absolute;
    top: 10px;
    right: 15px;
}


/*Tarjeta Texto Resumen*/

.TRTarjeta {
    height: 100%;
    cursor: pointer;
}

.TRTituloTarjeta {
    font-style: italic;
    font-weight: bold;
    border-bottom: 1px solid gray;
    font-size: medium;
    cursor: pointer;
}

.TRContenidoTarjeta {
    font-size: medium;
    cursor: pointer;
}


/*Tarjeta imagen resumen*/

.contenedorimg {
    position: relative;
    width: 800px;
    height: auto;
    overflow: hidden;
    overflow-y: scroll;
}

.TarjetaIR {
    border-radius: 10px;
    background-color: white;
    height: 400px;
    overflow: hidden;
    padding-bottom: 10px;
    cursor: pointer;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px;
}

.imgprev {
    width: 99%;
    height: auto;
    border: 1px solid lightgray;
    border-radius: 5px;
    /*box-shadow: 0 10px 10px 5px;*/
}

.textoIR {
    height: 100px;
    width: 100%;
    padding: 10px 5px 0 5px;
}


/*------------------------------------------*/

.video {
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    padding: 0;
    display: block;
}


/******************************************/

.pdfvp {
    display: block;
    width: 100%;
    height: 50hv;
    overflow: hidden;
    scroll-behavior: auto;
}


/*******************************************/

.tituloTarjeta-3 {
    padding: 5px;
    font-weight: bold;
}

.TRContenidoTarjeta-3 {
    padding: 5px;
}

.TarjetaIR-3 {
    border-radius: 10px;
    background-color: white;
    height: 800px;
    overflow: hidden;
    padding-bottom: 10px;
    cursor: pointer;
    box-shadow: 10px 5px 5px rgb(0 0 0 / 30%), 0 4px 4px;
}

.contimg-3 {
    width: 98%;
    height: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
}

.imgprev-3 {
    width: 100%;
    height: auto;
}


/*******************************************/

.tarjeta {
    background-color: white;
    height: 100%;
    padding-bottom: 20px;
}

.tituloTarjeta-4 {
    padding: 5px;
    font-weight: bold;
}

.TRContenidoTarjeta-4 {
    padding: 5px;
}

.TarjetaIR-4 {
    border: 5px solid #BA7F01;
    background-color: white;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    font-size: 14px;
    position: relative;
}

.contimg-4 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 0 !important;
}

.imgprev-4 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.imgrecurso {
    width: 70px;
    height: 37px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.textoIR-4 {
    padding: 0 5px 5px 5px;
    width: 100%;
    background-color: rgba(186, 127, 1, .9);
    font-size: 14px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
}

.etiqueta {
    border-top: 2px solid #BA7F01;
    padding-top: 5px;
    font-weight: bold;
}

.datoFicha {
    padding-left: 15px;
    padding-right: 15px;
}

.ficha {
    min-width: 500px;
    font-size: 14px;
}

.liga {
    cursor: pointer;
    color: blue;
}