<mat-tab-group animationDuration="2000ms" [selectedIndex]="tabSeleccionado">
    <mat-tab label="bibliografia" isActive>
        <div class="resultado" fxLayout="column" *ngIf="bibliografia!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Autor:</div>
                <div class="valor" fxFlex="85">{{bibliografia.autor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">obra:</div>
                <div class="valor" fxFlex="85">{{bibliografia.obra}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">editor:</div>
                <div class="valor" fxFlex="85">{{bibliografia.editor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Editor Paleográfica:</div>
                <div class="valor" fxFlex="85">{{bibliografia.ed_paleo}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Director Cordinador:</div>
                <div class="valor" fxFlex="85">{{bibliografia.director_cor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Editor:</div>
                <div class="valor" fxFlex="85">{{bibliografia.editor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Año:</div>
                <div class="valor" fxFlex="85">{{bibliografia.anio}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Anfitrion:</div>
                <div class="valor" fxFlex="85">{{bibliografia.obra_anfitrio}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Tomo:</div>
                <div class="valor" fxFlex="85">{{bibliografia.tomo}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Colección:</div>
                <div class="valor" fxFlex="85">{{bibliografia.coleccion}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Princeps:</div>
                <div class="valor" fxFlex="85">{{bibliografia.pp}}</div>
            </div>
        </div>
        <div>
            {{bibliografia.autor}}, {{bibliografia.obra}}, {{bibliografia.obra}}, {{bibliografia.ed_paleo}}, {{bibliografia.director_cor}}, {{bibliografia.editor}}, {{bibliografia.editor}}, {{bibliografia.anio}} , {{bibliografia.obra_anfitrio}}
        </div>
    </mat-tab>
    <mat-tab label="Bibliografia">
        <!--div class="resultado" fxLayout="column" *ngIf="bibliografia!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="30">Catalogo</div>
                <div class="titulo" fxFlex="10">Numeración</div>
                <div class="titulo" fxFlex="60">Nombre</div>
            </div>
            <div class="fila" fxLayout="row" *ngFor="let elemento of bibliografia">
                <div class="valor" fxFlex="30">{{elemento.catalogo}}</div>
                <div class="valor" fxFlex="10">{{elemento.numeracion}}</div>
                <div class="valor" fxFlex="60">{{elemento.catalogo_nombre}}</div>
            </div>
        </div-->
    </mat-tab>

</mat-tab-group>