<mat-card class="buscando" *ngIf="estaCargando">
    <mat-card-content>
        <h2 class="example-h2">Consultando base de datos</h2>
        <section class="example-section">
            <mat-progress-bar class="example-margin" [color]="'primary'" [mode]="'indeterminate'" [value]="50" [bufferValue]="100">
            </mat-progress-bar>
        </section>
    </mat-card-content>
</mat-card>
<div class="contenedor" *ngIf="!estaCargando" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" fxLayoutAlign="space-around">
    <div class="secciones" fxFlex="50" fxFlex.lt-lg="100%">
        <div class="seccion" fxLayoutAlign="start streatch" fxLayout="column" *ngIf="bibliografia!=null">
            <div class="titulo_seccion">
                Relación
            </div>
            <div class="resultado" fxLayout="column" *ngIf="bibliografia!=null">
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="25">Autor:</div>
                    <div class="valor" fxFlex [innerHTML]="bibliografia.autor | resaltaTexto:textoBuscado"></div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="25">obra:</div>
                    <div class="valor" fxFlex [innerHTML]="bibliografia.obra | resaltaTexto:textoBuscado"></div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="25">Ubicación:</div>
                    <div class="valor" fxFlex>{{bibliografia.ubicacion}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="25">Narrativa:</div>
                    <div class="valor" fxFlex>
                        <div [innerHTML]="bibliografia.narratio | resaltaTexto:textoBuscado"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="secciones" fxFlex="50" *ngIf="!estaCargando" fxLayout="column" fxLayoutAlign="start">
        <div class="seccion" fxLayout="column" *ngIf="bibliografia!=null">
            <div class="titulo_seccion">
                Bibliografia
            </div>
            <mat-tab-group>
                <mat-tab label="Fluido">
                    <div class="texto" [innerHTML]="crearTextoBiliografia(bibliografia)"> </div>
                </mat-tab>
                <mat-tab label="Estructurado">
                    <div class="resultado" fxLayout="column">
                        <div class="fila" fxLayout="row">
                            <div class="titulo" fxFlex="25">Autor:</div>
                            <div class="valor" fxFlex>{{bibliografia.autor}}</div>
                        </div>
                        <div class="fila" fxLayout="row">
                            <div class="titulo" fxFlex="25">obra:</div>
                            <div class="valor" fxFlex>{{bibliografia.obra}}</div>
                        </div>
                        <div class="fila" fxLayout="row">
                            <div class="titulo" fxFlex="25">editor:</div>
                            <div class="valor" fxFlex>{{bibliografia.editor}}</div>
                        </div>
                        <div class="fila" fxLayout="row">
                            <div class="titulo" fxFlex="25">Edición Paleográfica:</div>
                            <div class="valor" fxFlex>{{bibliografia.ed_paleo}}</div>
                        </div>
                        <div class="fila" fxLayout="row">
                            <div class="titulo" fxFlex="25">Director o Cordinador:</div>
                            <div class="valor" fxFlex>{{bibliografia.director_cor}}</div>
                        </div>
                        <div class="fila" fxLayout="row">
                            <div class="titulo" fxFlex="25">Editorial:</div>
                            <div class="valor" fxFlex>{{bibliografia.editorial}}</div>
                        </div>
                        <div class="fila" fxLayout="row">
                            <div class="titulo" fxFlex="25">Ciudad:</div>
                            <div class="valor" fxFlex>{{bibliografia.ciudad}}</div>
                        </div>
                        <div class="fila" fxLayout="row">
                            <div class="titulo" fxFlex="25">Año:</div>
                            <div class="valor" fxFlex>{{bibliografia.anio}}</div>
                        </div>
                        <div class="fila" fxLayout="row">
                            <div class="titulo" fxFlex="25">Obra Anfitrion:</div>
                            <div class="valor" fxFlex>{{bibliografia.obra_anfitrion}}</div>
                        </div>
                        <div class="fila" fxLayout="row">
                            <div class="titulo" fxFlex="25">Tomo:</div>
                            <div class="valor" fxFlex>{{bibliografia.tomo}}</div>
                        </div>
                        <div class="fila" fxLayout="row">
                            <div class="titulo" fxFlex="25">Colección:</div>
                            <div class="valor" fxFlex>{{bibliografia.coleccion}}</div>
                        </div>
                        <div class="fila" fxLayout="row">
                            <div class="titulo" fxFlex="25">Princeps:</div>
                            <div class="valor" fxFlex>{{bibliografia.pp}}</div>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>

        <div class="seccion" fxLayoutAlign="start streatch" fxLayout="column" *ngIf="princeps!=null">
            <div class="titulo_seccion">
                Princeps
            </div>
            <div class="resultado" fxLayout="column">
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="25">Autor:</div>
                    <div class="valor" fxFlex>{{princeps?.autor}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="25">Titulo:</div>
                    <div class="valor" fxFlex>{{princeps?.titulo}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="25">obra:</div>
                    <div class="valor" fxFlex>{{princeps?.obra_tomo}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="25">librero:</div>
                    <div class="valor" fxFlex>{{princeps?.librero}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="25">Ciudad:</div>
                    <div class="valor" fxFlex>{{princeps?.Ciudad}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="25">A costa de:</div>
                    <div class="valor" fxFlex>{{princeps.a_costa_de}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="25">Año:</div>
                    <div class="valor" fxFlex>{{princeps.anio}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="25">pp. Princeps:</div>
                    <div class="valor" fxFlex>{{princeps.princeps}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="25">Biblioteca de resguardo:</div>
                    <div class="valor" fxFlex>{{princeps.biblioteca}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="25">Clasificación:</div>
                    <div class="valor" fxFlex>{{princeps.clasificacion}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="25">Archivo digital:</div>
                    <div class="valor" fxFlex="75">{{princeps.archivo_dig}}</div>
                </div>
            </div>
        </div>


        <div class="seccion" fxLayoutAlign="start streatch" fxLayout="column" *ngIf="contexto!=null">
            <div class="titulo_seccion">
                Descripción discursiva
            </div>
            <div class="resultado" fxLayout="column">
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Argumento:</div>
                    <div class="valor" fxFlex>{{contexto.argumento}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Expresión con la que los personajes se refieren a la relación:</div>
                    <div class="valor" fxFlex>{{contexto.denominacion_accion}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Contexto:</div>
                    <div class="valor" fxFlex>{{contexto.accion_dramatica}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Texto marco anterior:</div>
                    <div class="valor" fxFlex>{{contexto.marco_anterior}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Texto marco posterior:</div>
                    <div class="valor" fxFlex>{{contexto.marco_posterior}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Estructura formularia de apertura:</div>
                    <div class="valor" fxFlex>{{contexto.formula_apertura}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Estructura formularia de cierre:</div>
                    <div class="valor" fxFlex>{{contexto.formula_cierre}}</div>
                </div>

                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Descripción Discursiva:</div>
                    <div class="valor" fxFlex>{{contexto.descripcion_discursiva}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Personaje Receptor:</div>
                    <div class="valor" fxFlex>{{contexto.receptor}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Personaje Transmisor:</div>
                    <div class="valor" fxFlex>{{contexto.trasmisor}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Personaje Emisor:</div>
                    <div class="valor" fxFlex>{{contexto.emisor}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Espacio abierto desde el que se cuenta:</div>
                    <div class="valor" fxFlex>{{contexto.ed_abierto}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Espacio Cerrado desde el que se cuenta:</div>
                    <div class="valor" fxFlex>{{contexto.ed_cerrado}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Espacio Abierto referido:</div>
                    <div class="valor" fxFlex>{{contexto.er_abierto}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Espacio Cerrado referido:</div>
                    <div class="valor" fxFlex>{{contexto.er_cerrado}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Diurno / Nocturno:</div>
                    <div class="valor" fxFlex>{{contexto.diurna_nocturna}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Temporalidad dramática:</div>
                    <div class="valor" fxFlex>{{contexto.t_dramatico}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="35">Momento Referido: </div>
                    <div class="valor" fxFlex>{{contexto.m_referido}}</div>
                </div>
            </div>
        </div>


        <div class="seccion" fxLayoutAlign="start streatch" fxLayout="column" *ngIf="clasificacion!=null">
            <div class="titulo_seccion">
                Clasificación
            </div>
            <div class="resultado" fxLayout="column">
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="20">Categoria</div>
                    <div class="titulo" fxFlex="80">Descripción</div>
                </div>
                <div class="fila" fxLayout="row" *ngFor="let elemento of clasificacion">
                    <div class="valor" fxFlex="20">{{elemento.categoria}}</div>
                    <div class="valor" fxFlex="80">{{elemento.descripcion}}</div>
                </div>
            </div>
        </div>

        <!------------------------------------------------------------------------------------------
            Se elimino esta sección.
        ------------------------------------------------------------------------------------------->
        <!--div class="seccion" fxLayoutAlign="start streatch" fxLayout="column" *ngIf="tipoAccion!=null">
            <div class="titulo_seccion">
                Tipo de acción
            </div>
            <div class="resultado" fxLayout="column">
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="20">Tipo Acción</div>
                    <div class="titulo" fxFlex="80">Descripción</div>
                </div>
                <div class="fila" fxLayout="row" *ngFor="let elemento of tipoAccion">
                    <div class="valor" fxFlex="20">{{elemento.tipo_accion}}</div>
                    <div class="valor" fxFlex="80">{{elemento.descripcion}}</div>
                </div>
            </div>
        </div-->


        <div class="seccion" fxLayoutAlign="start streatch" fxLayout="column" *ngIf="motivos!=null">
            <div class="titulo_seccion">
                Motivos
            </div>
            <div class="resultado" fxLayout="column">
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex>Descripción</div>
                </div>
                <div class="fila" fxLayout="row" *ngFor="let elemento of motivos">
                    <div class="valor" fxFlex>{{elemento.motivo}}</div>
                </div>
            </div>
        </div>


        <div class="seccion" fxLayoutAlign="start streatch" fxLayout="column" *ngIf="tema!=null">
            <div class="titulo_seccion">
                Tema
            </div>
            <div class="resultado" fxLayout="column">
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="20">Palabra</div>
                    <div class="titulo" fxFlex="80">Descripción</div>
                </div>
                <div class="fila" fxLayout="row" *ngFor="let elemento of tema">
                    <div class="valor" fxFlex="20">{{elemento.palabra}}</div>
                    <div class="valor" fxFlex="80">{{elemento.descripcion}}</div>
                </div>
            </div>
        </div>


        <div class="seccion" fxLayoutAlign="start streatch" fxLayout="column" *ngIf="versificacion!=null">
            <div class="titulo_seccion">
                Versificación
            </div>
            <div class="resultado" fxLayout="column">
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex>Tipo de verso</div>
                </div>
                <div class="fila" fxLayout="row" *ngFor="let elemento of versificacion">
                    <div class="valor" fxFlex>{{elemento.tipo_verso}}</div>
                </div>
            </div>
        </div>



        <!--div class="seccion" fxLayoutAlign="start streatch" fxLayout="column" *ngIf="soporte!=null">
            <div class="titulo_seccion">
                Soporte
            </div>
            <div class="resultado" fxLayout="column">
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex>Descripción</div>
                </div>
                <div class="fila" fxLayout="row" *ngFor="let elemento of soporte">
                    <div class="valor" fxFlex>{{elemento.tipo_material}}</div>
                </div>
            </div>
        </div-->



        <div class="seccion" fxLayoutAlign="start streatch" fxLayout="column" *ngIf="signos!=null">
            <div class="titulo_seccion">
                Signos Actorales
            </div>
            <div class="resultado" fxLayout="column">
                <div class="fila" fxLayout="row">
                    <div class="tituloSAD" fxFlex>SIGNOS EN LOS ACTORES DRAMÁTICOS</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="30">Gestos:</div>
                    <div class="valor" fxFlex>{{signos.gestos_dramaticos}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="30">Movimientos Corporales:</div>
                    <div class="valor" fxFlex>{{signos.movimientos_dramaticos}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="30">Modulaciones de Voz:</div>
                    <div class="valor" fxFlex>{{signos.voz_dramaticos}}</div>
                </div>
                <!--div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="40">Movimientos explícitos en la mirada de los actores:</div>
                    <div class="valor" fxFlex>{{signos.vista_dramaticos}}</div>
                </div-->
                <div class="fila" fxLayout="row">
                    <div class="tituloSPR" fxFlex>SIGNOS EN LOS PERSONAJES DE LA RELACIÓN</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="30">Gestos:</div>
                    <div class="valor" fxFlex>{{signos.gestos_dramaticos_no}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="30">Movimientos Corporales:</div>
                    <div class="valor" fxFlex>{{signos.movimientos_dramaticos_no}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="30">Modulaciones de Voz:</div>
                    <div class="valor" fxFlex>{{signos.voz_dramaticos_no}}</div>
                </div>
                <!--div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="40">Movimientos implícitos en la mirada de los actores:</div>
                    <div class="valor" fxFlex>{{signos.vista_dramaticos_no}}</div>
                </div-->
            </div>
        </div>


        <!--div class="seccion" fxFlex="0 0 calc(45% - 10px)" fxFlex.lt-lg="100%" fxLayoutAlign="start streatch" fxLayout="column" *ngIf="signos!=null">
            <div class="titulo_seccion">
                Signos actorales de los personajes referidos en la relación
            </div>
            <div class="resultado" fxLayout="column">
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="40">Gestos:</div>
                    <div class="valor" fxFlex>{{signos.gestos_dieg}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="40">Movimientos Corporales</div>
                    <div class="valor" fxFlex>{{signos.movimientos_dieg}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="40">Modulaciones de Voz:</div>
                    <div class="valor" fxFlex>{{signos.voz_dieg}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="40">Movimientos en la mirada de los personajes referidos:</div>
                    <div class="valor" fxFlex>{{signos.vista_dieg}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="40">Signos actorales implícitos de los personajes referidos:</div>
                    <div class="valor" fxFlex>{{signos.implicitos}}</div>
                </div>
            </div>
        </div-->


        <div class="seccion" fxLayoutAlign="start streatch" fxLayout="column" *ngIf="vinculos!=null">
            <div class="titulo_seccion">
                Vinculos
            </div>
            <div class="resultado" fxLayout="column">
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="40">Vínculos visuales:</div>
                    <div class="valor" fxFlex>{{vinculos.visuales}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="40">Vínculos auditivos:</div>
                    <div class="valor" fxFlex>{{vinculos.auditivos}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="40">Expresiones que reflejan el impacto emocional de la relación:</div>
                    <div class="valor" fxFlex>{{vinculos.presente}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="40">Vínculos mediante referencias metadiscursivos:</div>
                    <div class="valor" fxFlex>{{vinculos.discurso}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="40">Vínculos mediante apelativos al receptor de la relación:</div>
                    <div class="valor" fxFlex>{{vinculos.receptor}}</div>
                </div>
                <div class="fila" fxLayout="row">
                    <div class="titulo" fxFlex="40">Vínculos mediante apelativos al espectador:</div>
                    <div class="valor" fxFlex>{{vinculos.espectador}}</div>
                </div>
            </div>
        </div>

    </div>
</div>