<!--mat-tab-group animationDuration="2000ms" [selectedIndex]="tabSeleccionado" (selectedIndexChange)="tabSeleccionado=$event" [backgroundColor]="'primary'">
    <mat-tab label="Relaciones" isActive>
        <div class="resultado" fxLayout="column" *ngIf="narrativa!=null">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Autor:</div>
                <div class="valor" fxFlex="85">{{narrativa.autor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">obra:</div>
                <div class="valor" fxFlex="85">{{narrativa.obra}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Ubicación:</div>
                <div class="valor" fxFlex="85">{{narrativa.ubicacion}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Narrativa:</div>
                <div class="valor" fxFlex="85">
                    <pre>{{narrativa.narratio}}</pre>
                </div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="bibliografia" isActive>
        <div class="resultado" fxLayout="column" *ngIf="bibliografia!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Autor:</div>
                <div class="valor" fxFlex="85">{{bibliografia.autor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">obra:</div>
                <div class="valor" fxFlex="85">{{bibliografia.obra}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">editor:</div>
                <div class="valor" fxFlex="85">{{bibliografia.editor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Edición Paleográfica:</div>
                <div class="valor" fxFlex="85">{{bibliografia.ed_paleo}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Director o Cordinador:</div>
                <div class="valor" fxFlex="85">{{bibliografia.director_cor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Editorial:</div>
                <div class="valor" fxFlex="85">{{bibliografia.editor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Año:</div>
                <div class="valor" fxFlex="85">{{bibliografia.anio}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Obra Anfitrion:</div>
                <div class="valor" fxFlex="85">{{bibliografia.obra_anfitrio}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Tomo:</div>
                <div class="valor" fxFlex="85">{{bibliografia.tomo}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Colección:</div>
                <div class="valor" fxFlex="85">{{bibliografia.coleccion}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Princeps:</div>
                <div class="valor" fxFlex="85">{{bibliografia.pp}}</div>
            </div>
        </div>
        <div>
            {{bibliografia.autor}}, {{bibliografia.obra}}, {{bibliografia.obra}}, {{bibliografia.ed_paleo}}, {{bibliografia.director_cor}}, {{bibliografia.editor}}, {{bibliografia.editor}}, {{bibliografia.anio}} , {{bibliografia.obra_anfitrio}}
        </div>
    </mat-tab>
    <mat-tab label="Princeps">
        <div class="resultado" fxLayout="column" *ngIf="princeps!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Autor:</div>
                <div class="valor" fxFlex="85">{{princeps.autor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">obra:</div>
                <div class="valor" fxFlex="85">{{princeps.obra_tomo}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">librero:</div>
                <div class="valor" fxFlex="85">{{princeps.librero}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Ciudad:</div>
                <div class="valor" fxFlex="85">{{princeps.Ciudad}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">A costa de:</div>
                <div class="valor" fxFlex="85">{{princeps.a_costa_de}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Año:</div>
                <div class="valor" fxFlex="85">{{princeps.anio}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Princeps:</div>
                <div class="valor" fxFlex="85">{{princeps.princeps}}</div>
            </div>
        </div>
        <div>
            {{princeps?.autor}}, {{princeps?.obra_tomo}}, {{princeps?.librero}}, {{princeps?.ciudad}}, {{princeps?.a_costa_de}}, {{princeps?.anio}}, {{princeps?.princeps}}
        </div>
    </mat-tab>

    <mat-tab label="Descripción Discursiva">
        <div class="resultado" fxLayout="column" *ngIf="contexto!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Descripción Discursiva:</div>
                <div class="valor" fxFlex="85">{{contexto.descripcion_discursiva}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Personaje Receptor:</div>
                <div class="valor" fxFlex="85">{{contexto.receptor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Personaje Transmisor:</div>
                <div class="valor" fxFlex="85">{{contexto.trasmisor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Personaje Emisor:</div>
                <div class="valor" fxFlex="85">{{contexto.emisor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Espacio abierto desde el que se cuenta:</div>
                <div class="valor" fxFlex="85">{{contexto.ed_abierto}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Espacio Cerrado desde el que se cuenta:</div>
                <div class="valor" fxFlex="85">{{contexto.ed_cerrado}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Espacio Abierto referido:</div>
                <div class="valor" fxFlex="85">{{contexto.er_abierto}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Espacio Cerrado referido:</div>
                <div class="valor" fxFlex="85">{{contexto.er_cerrado}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Diurno / Nocturno:</div>
                <div class="valor" fxFlex="85">{{contexto.diurna_nocturna}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Temporalidad dramática:</div>
                <div class="valor" fxFlex="85">{{contexto.t_dramatico}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Momento Referido: </div>
                <div class="valor" fxFlex="85">{{contexto.m_referido}}</div>
            </div>
        </div>
        <div>
            {{contexto.descripcion_discursiva}}, {{contexto.receptor}}, {{contexto.trasmisor}}, {{contexto.emisor}}, {{contexto.ed_abierto}}, {{contexto.ed_cerrado}}, {{contexto.er_abierto}}, {{contexto.er_cerrado}}, {{contexto.diurna_nocturna}}, {{contexto.t_dramatico}},
            {{contexto.m_referido}}
        </div>
    </mat-tab>
    <mat-tab label="Tipo de Acción">
        <div class="resultado" fxLayout="column" *ngIf="tipoAccion!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="20">Tipo Acción</div>
                <div class="titulo" fxFlex="80">Descripción</div>
            </div>
            <div class="fila" fxLayout="row" *ngFor="let elemento of tipoAccion">
                <div class="valor" fxFlex="20">{{elemento.tipo_accion}}</div>
                <div class="valor" fxFlex="80">{{elemento.descripcion}}</div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Clasificación">
        <div class="resultado" fxLayout="column" *ngIf="tipoAccion!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="20">Categoria</div>
                <div class="titulo" fxFlex="80">Descripción</div>
            </div>
            <div class="fila" fxLayout="row" *ngFor="let elemento of clasificacion">
                <div class="valor" fxFlex="20">{{elemento.categoria}}</div>
                <div class="valor" fxFlex="80">{{elemento.descripcion}}</div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Motivos">
        <div class="resultado" fxLayout="column" *ngIf="motivos!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="20">id</div>
                <div class="titulo" fxFlex="80">Descripción</div>
            </div>
            <div class="fila" fxLayout="row" *ngFor="let elemento of motivos">
                <div class="valor" fxFlex="20">{{elemento.id_motivo}}</div>
                <div class="valor" fxFlex="80">{{elemento.motivo}}</div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Tema">
        <div class="resultado" fxLayout="column" *ngIf="tema!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="20">Palabra</div>
                <div class="titulo" fxFlex="80">Descripción</div>
            </div>
            <div class="fila" fxLayout="row" *ngFor="let elemento of tema">
                <div class="valor" fxFlex="20">{{elemento.palabra}}</div>
                <div class="valor" fxFlex="80">{{elemento.descripcion}}</div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Versificación">
        <div class="resultado" fxLayout="column" *ngIf="versificacion!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="80">Tipo de verso</div>
            </div>
            <div class="fila" fxLayout="row" *ngFor="let elemento of versificacion">
                <div class="valor" fxFlex="80">{{elemento.tipo_verso}}</div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Soporte">
        <div class="resultado" fxLayout="column" *ngIf="soporte!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="80">Descripción</div>
            </div>
            <div class="fila" fxLayout="row" *ngFor="let elemento of soporte">
                <div class="valor" fxFlex="80">{{elemento.tipo_material}}</div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Signos Actorales en los actores dramáticos">
        <div class="resultado" fxLayout="column" *ngIf="signos!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Gestos:</div>
                <div class="valor" fxFlex="60">{{signos.gestos_dramaticos}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Movimientos corporales:</div>
                <div class="valor" fxFlex="60">{{signos.movimientos_dramaticos}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Modulaciones de Voz:</div>
                <div class="valor" fxFlex="60">{{signos.voz_dramaticos}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Movimientos explícitos en la mirada de los actores:</div>
                <div class="valor" fxFlex="60">{{signos.vista_dramaticos}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Gestos implícitos de los actores:</div>
                <div class="valor" fxFlex="60">{{signos.gestos_dramaticos_no}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Movimientos corporales implícitos de los actores:</div>
                <div class="valor" fxFlex="60">{{signos.movimientos_dramaticos_no}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Modulaciones implícitas en la voz de los actores:</div>
                <div class="valor" fxFlex="60">{{signos.voz_dramaticos_no}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Movimientos implícitos en la mirada de los actores:</div>
                <div class="valor" fxFlex="60">{{signos.vista_dramaticos_no}}</div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Signos actorales de los personajes referidos en la relación">
        <div class="resultado" fxLayout="column" *ngIf="signos!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Gestos:</div>
                <div class="valor" fxFlex="60">{{signos.gestos_dieg}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Movimientos Corporales</div>
                <div class="valor" fxFlex="60">{{signos.movimientos_dieg}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Modulaciones de Voz:</div>
                <div class="valor" fxFlex="60">{{signos.voz_dieg}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Movimientos en la mirada de los personajes referidos:</div>
                <div class="valor" fxFlex="60">{{signos.vista_dieg}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Signos actorales implícitos de los personajes referidos:</div>
                <div class="valor" fxFlex="60">{{signos.implicitos}}</div>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Vinculos">
        <div class="resultado" fxLayout="column" *ngIf="vinculos!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Vínculos visuales:</div>
                <div class="valor" fxFlex="60">{{vinculos.visuales}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Vínculos auditivos:</div>
                <div class="valor" fxFlex="60">{{vinculos.auditivos}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Vínculos con el presente de la acción dramática:</div>
                <div class="valor" fxFlex="60">{{vinculos.presente}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Vínculos mediante referencias metadiscursivos:</div>
                <div class="valor" fxFlex="60">{{vinculos.discurso}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Vínculos mediante apelativos al receptor de la relación:</div>
                <div class="valor" fxFlex="60">{{vinculos.receptor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Vínculos mediante apelativos al espectador:</div>
                <div class="valor" fxFlex="60">{{vinculos.espectador}}</div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group-->

<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Relaciones
            </mat-panel-title>
            <mat-panel-description>
                Descripción de la sección
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="resultado" fxLayout="column" *ngIf="narrativa!=null">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Autor:</div>
                <div class="valor" fxFlex="85">{{narrativa.autor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">obra:</div>
                <div class="valor" fxFlex="85">{{narrativa.obra}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Ubicación:</div>
                <div class="valor" fxFlex="85">{{narrativa.ubicacion}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Narrativa:</div>
                <div class="valor" fxFlex="85">
                    <pre [innerHTML]="narrativa.narratio | resaltaTexto:textoBuscado"></pre>
                    <!--pre [innerHTML]="resalta(narrativa.narratio, textoBuscado)"></pre-->
                </div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                bibliografia
            </mat-panel-title>
            <mat-panel-description>
                Descripción de la sección
            </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-tab-group animationDuration="2000ms" [selectedIndex]="1" [backgroundColor]="'primary'">
            <mat-tab label="Fluido">
                <div fxFill fxLayout="column" fxLayoutAlign="start center">
                    <div class="blur">
                        <div class="shadow">
                            <div class="content" fxLayout="column">
                                <div class="titulo">
                                    Bibliografia
                                </div>
                                <div class="texto" [innerHTML]="crearTextoBiliografia(bibliografia)"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Estructurado">
                <div class="resultado" fxLayout="column" *ngIf="bibliografia!=[]">
                    <div class="fila" fxLayout="row">
                        <div class="titulo" fxFlex="15">Autor:</div>
                        <div class="valor" fxFlex="85">{{bibliografia.autor}}</div>
                    </div>
                    <div class="fila" fxLayout="row">
                        <div class="titulo" fxFlex="15">obra:</div>
                        <div class="valor" fxFlex="85">{{bibliografia.obra}}</div>
                    </div>
                    <div class="fila" fxLayout="row">
                        <div class="titulo" fxFlex="15">editor:</div>
                        <div class="valor" fxFlex="85">{{bibliografia.editor}}</div>
                    </div>
                    <div class="fila" fxLayout="row">
                        <div class="titulo" fxFlex="15">Edición Paleográfica:</div>
                        <div class="valor" fxFlex="85">{{bibliografia.ed_paleo}}</div>
                    </div>
                    <div class="fila" fxLayout="row">
                        <div class="titulo" fxFlex="15">Director o Cordinador:</div>
                        <div class="valor" fxFlex="85">{{bibliografia.director_cor}}</div>
                    </div>
                    <div class="fila" fxLayout="row">
                        <div class="titulo" fxFlex="15">Editorial:</div>
                        <div class="valor" fxFlex="85">{{bibliografia.editor}}</div>
                    </div>
                    <div class="fila" fxLayout="row">
                        <div class="titulo" fxFlex="15">Año:</div>
                        <div class="valor" fxFlex="85">{{bibliografia.anio}}</div>
                    </div>
                    <div class="fila" fxLayout="row">
                        <div class="titulo" fxFlex="15">Obra Anfitrion:</div>
                        <div class="valor" fxFlex="85">{{bibliografia.obra_anfitrion}}</div>
                    </div>
                    <div class="fila" fxLayout="row">
                        <div class="titulo" fxFlex="15">Tomo:</div>
                        <div class="valor" fxFlex="85">{{bibliografia.tomo}}</div>
                    </div>
                    <div class="fila" fxLayout="row">
                        <div class="titulo" fxFlex="15">Colección:</div>
                        <div class="valor" fxFlex="85">{{bibliografia.coleccion}}</div>
                    </div>
                    <div class="fila" fxLayout="row">
                        <div class="titulo" fxFlex="15">Princeps:</div>
                        <div class="valor" fxFlex="85">{{bibliografia.pp}}</div>
                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Princeps
            </mat-panel-title>
            <mat-panel-description>
                Descripción de la sección
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="resultado" fxLayout="column" *ngIf="princeps!=[] && princeps?.length>0">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Autor:</div>
                <div class="valor" fxFlex="85">{{princeps.autor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">obra:</div>
                <div class="valor" fxFlex="85">{{princeps.obra_tomo}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">librero:</div>
                <div class="valor" fxFlex="85">{{princeps.librero}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Ciudad:</div>
                <div class="valor" fxFlex="85">{{princeps.Ciudad}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">A costa de:</div>
                <div class="valor" fxFlex="85">{{princeps.a_costa_de}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Año:</div>
                <div class="valor" fxFlex="85">{{princeps.anio}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Princeps:</div>
                <div class="valor" fxFlex="85">{{princeps.princeps}}</div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Descripción discursiva
            </mat-panel-title>
            <mat-panel-description>
                Descripción de la sección
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="resultado" fxLayout="column" *ngIf="contexto!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Descripción Discursiva:</div>
                <div class="valor" fxFlex="85">{{contexto.descripcion_discursiva}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Personaje Receptor:</div>
                <div class="valor" fxFlex="85">{{contexto.receptor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Personaje Transmisor:</div>
                <div class="valor" fxFlex="85">{{contexto.trasmisor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Personaje Emisor:</div>
                <div class="valor" fxFlex="85">{{contexto.emisor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Espacio abierto desde el que se cuenta:</div>
                <div class="valor" fxFlex="85">{{contexto.ed_abierto}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Espacio Cerrado desde el que se cuenta:</div>
                <div class="valor" fxFlex="85">{{contexto.ed_cerrado}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Espacio Abierto referido:</div>
                <div class="valor" fxFlex="85">{{contexto.er_abierto}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Espacio Cerrado referido:</div>
                <div class="valor" fxFlex="85">{{contexto.er_cerrado}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Diurno / Nocturno:</div>
                <div class="valor" fxFlex="85">{{contexto.diurna_nocturna}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Temporalidad dramática:</div>
                <div class="valor" fxFlex="85">{{contexto.t_dramatico}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="15">Momento Referido: </div>
                <div class="valor" fxFlex="85">{{contexto.m_referido}}</div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Clasificación
            </mat-panel-title>
            <mat-panel-description>
                Descripción de la sección
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="resultado" fxLayout="column" *ngIf="clasificacion!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="20">Categoria</div>
                <div class="titulo" fxFlex="80">Descripción</div>
            </div>
            <div class="fila" fxLayout="row" *ngFor="let elemento of clasificacion">
                <div class="valor" fxFlex="20">{{elemento.categoria}}</div>
                <div class="valor" fxFlex="80">{{elemento.descripcion}}</div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tipo de acción
            </mat-panel-title>
            <mat-panel-description>
                Descripción de la sección
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="resultado" fxLayout="column" *ngIf="tipoAccion!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="20">Tipo Acción</div>
                <div class="titulo" fxFlex="80">Descripción</div>
            </div>
            <div class="fila" fxLayout="row" *ngFor="let elemento of tipoAccion">
                <div class="valor" fxFlex="20">{{elemento.tipo_accion}}</div>
                <div class="valor" fxFlex="80">{{elemento.descripcion}}</div>
            </div>
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-panel-title>
            Motivos
        </mat-panel-title>
        <mat-panel-description>
            Descripción de la sección
        </mat-panel-description>
        <div class="resultado" fxLayout="column" *ngIf="motivos!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="20">id</div>
                <div class="titulo" fxFlex="80">Descripción</div>
            </div>
            <div class="fila" fxLayout="row" *ngFor="let elemento of motivos">
                <div class="valor" fxFlex="20">{{elemento.id_motivo}}</div>
                <div class="valor" fxFlex="80">{{elemento.motivo}}</div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tema
            </mat-panel-title>
            <mat-panel-description>
                Descripción de la sección
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="resultado" fxLayout="column" *ngIf="tema!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="20">Palabra</div>
                <div class="titulo" fxFlex="80">Descripción</div>
            </div>
            <div class="fila" fxLayout="row" *ngFor="let elemento of tema">
                <div class="valor" fxFlex="20">{{elemento.palabra}}</div>
                <div class="valor" fxFlex="80">{{elemento.descripcion}}</div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Versificación
            </mat-panel-title>
            <mat-panel-description>
                Descripción de la sección
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="resultado" fxLayout="column" *ngIf="versificacion!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="80">Tipo de verso</div>
            </div>
            <div class="fila" fxLayout="row" *ngFor="let elemento of versificacion">
                <div class="valor" fxFlex="80">{{elemento.tipo_verso}}</div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Soporte
            </mat-panel-title>
            <mat-panel-description>
                Descripción de la sección
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="resultado" fxLayout="column" *ngIf="soporte!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="80">Descripción</div>
            </div>
            <div class="fila" fxLayout="row" *ngFor="let elemento of soporte">
                <div class="valor" fxFlex="80">{{elemento.tipo_material}}</div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Signos Actorales en los actores dramáticos
            </mat-panel-title>
            <mat-panel-description>
                Descripción de la sección
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="resultado" fxLayout="column" *ngIf="signos!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Gestos:</div>
                <div class="valor" fxFlex="60">{{signos.gestos_dramaticos}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Movimientos corporales:</div>
                <div class="valor" fxFlex="60">{{signos.movimientos_dramaticos}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Modulaciones de Voz:</div>
                <div class="valor" fxFlex="60">{{signos.voz_dramaticos}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Movimientos explícitos en la mirada de los actores:</div>
                <div class="valor" fxFlex="60">{{signos.vista_dramaticos}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Gestos implícitos de los actores:</div>
                <div class="valor" fxFlex="60">{{signos.gestos_dramaticos_no}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Movimientos corporales implícitos de los actores:</div>
                <div class="valor" fxFlex="60">{{signos.movimientos_dramaticos_no}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Modulaciones implícitas en la voz de los actores:</div>
                <div class="valor" fxFlex="60">{{signos.voz_dramaticos_no}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Movimientos implícitos en la mirada de los actores:</div>
                <div class="valor" fxFlex="60">{{signos.vista_dramaticos_no}}</div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Signos actorales de los personajes referidos en la relación
            </mat-panel-title>
            <mat-panel-description>
                Descripción de la sección
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="resultado" fxLayout="column" *ngIf="signos!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Gestos:</div>
                <div class="valor" fxFlex="60">{{signos.gestos_dieg}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Movimientos Corporales</div>
                <div class="valor" fxFlex="60">{{signos.movimientos_dieg}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Modulaciones de Voz:</div>
                <div class="valor" fxFlex="60">{{signos.voz_dieg}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Movimientos en la mirada de los personajes referidos:</div>
                <div class="valor" fxFlex="60">{{signos.vista_dieg}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Signos actorales implícitos de los personajes referidos:</div>
                <div class="valor" fxFlex="60">{{signos.implicitos}}</div>
            </div>
        </div>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Vinculos
            </mat-panel-title>
            <mat-panel-description>
                Descripción de la sección
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="resultado" fxLayout="column" *ngIf="vinculos!=[]">
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Vínculos visuales:</div>
                <div class="valor" fxFlex="60">{{vinculos.visuales}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Vínculos auditivos:</div>
                <div class="valor" fxFlex="60">{{vinculos.auditivos}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Vínculos con el presente de la acción dramática:</div>
                <div class="valor" fxFlex="60">{{vinculos.presente}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Vínculos mediante referencias metadiscursivos:</div>
                <div class="valor" fxFlex="60">{{vinculos.discurso}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Vínculos mediante apelativos al receptor de la relación:</div>
                <div class="valor" fxFlex="60">{{vinculos.receptor}}</div>
            </div>
            <div class="fila" fxLayout="row">
                <div class="titulo" fxFlex="40">Vínculos mediante apelativos al espectador:</div>
                <div class="valor" fxFlex="60">{{vinculos.espectador}}</div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>