<section id="content-int">
  <div class="wrapper">
    <div id="migas">
      Historia de las literaturas en México
      <img src="./assets/imgs/migaSep.jpg" alt="separador de miga" /> Siglo {{ siglo }}
      <img src="./assets/imgs/migaSep.jpg" alt="separador de miga" /> {{tomo}}
    </div>
    <div id="titulo-botonSigloXVI">
      <h1>
        Publicaciones: Historia de las literaturas en México. Siglos XVI al XVIII
      </h1>
      <div>
        <a href="sigloxvi-tomo1.html" class="link_bloqueInverse offlinknav ctrl-tomo">Tomo 1</a>
        <a href="sigloxvi-tomo2.html" class="link_bloqueInverse ctrl-tomo" >Tomo 2</a>
      </div>
    </div>
    <div class="flex-justify contenido">
      <!--Menu acordion Izquierdo Contenido Tomo -->
      <div id="menuIzqPublicaciones">
        <h4 class="h4menuIzq">Siglo {{ siglo }} - {{tomo}}</h4>
        <div id="accordion1" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne1">
              <h5 class="mb-0 active">
                <a data-toggle="collapse" href="#collapseOne1" role="button" aria-controls="collapseOne1"
                  class="active">
                  Introducción
                </a>
              </h5>
            </div>
          </div>
          <!--end card-->
          <!--div class="card"-->
          <div [ngClass]="{'card-header':!esCapitulo(reg),'card-body':esCapitulo(reg)}"
            *ngFor="let reg of resultado; let i = index">
            <h5 class="mb-0" *ngIf="!esCapitulo(reg)" class="seccion"  (click)="moSeccion(reg.etiquetas)" >
              <a class="collapsed" aria-expanded="false">{{reg.texto}}</a>
            </h5>
            <a (click)="verCapitulo(reg)" *ngIf="esCapitulo(reg) && desplegarCapitulo(reg)" class="liga">{{reg.texto}}</a>
          </div>
        </div>
      </div>
      <!-- end menuIzq -->

      <!-- Fin Menu acordion Izquierdo Contenido Tomo -->

      <div id="txtHer">
        <h2 class="h2red">
          {{imagenes.capitulo}}
        </h2>
        <p class="autor">
          {{imagenes.descripcion}}
        </p>

        <p>
          {{imagenes.texto}}
        </p>

        <video video autoplay muted loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
          <source src="{{imagenes.referencia}}.mp4" type="video/mp4" />
          <source src="{{imagenes.referencia}}.webm" type="video/webm" />
          <source src="{{imagenes.referencia}}.ogv" type="video/ogg" />
        </video>

        <div id="menuInferiorContenido">
          <a href="#" class="linkInferiorAnterior offlinkInferior">
            Anterior
          </a>
          <a href="sigloxvi-tomo1-int.html" class="linkInferiorSiguiente">
            Siguiente
          </a>
        </div>
      </div>
      <!--end txtHer-->
    </div>
    <!--end contenido-->
  </div>
  <!--end wrapper-->
</section>
