* {
    font-family: "Century Gothic", Gotham, Helvetica, Arial, sans-serif
}

h1 {
    font-size: 1.750rem;
    /*28px*/
    padding-bottom: 20px;
    background: url(/assets/imgs/pleka_h1.jpg) no-repeat bottom left;
}

p {
    font-size: 1em;
    line-height: 1.5;
}

.marco {
    background-color: white;
}

.descripcion-filtro {
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    width: 500px;
    background-color: rgba(170, 125, 4, 0.2);
    border-radius: 10px;
}

.ayuda {
    cursor: pointer;
    margin-left: 30px;
    width: "20px";
    height: auto;
}

ul.bulletRojo {
    list-style: none;
}

ul.bulletRojo li::before {
    content: "\2022";
    color: #b70306;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    font-size: x-large;
    vertical-align: middle;
}

a.link_bloque {
    color: #fff;
    padding: 10px 25px;
    background: #aa7d04;
    text-align: center;
    text-decoration: none;
    transition: all ease 1.2s;
    border: 2px solid #aa7d04;
}

a.link_bloque:hover {
    color: #000;
    background: #dcc27b;
}

#imgHerramientas {
    padding: 30px 35px 30px 20px;
}

#imgHerramientas img {
    width: 100%;
    margin-bottom: 20px;
}

.listaLetras {
    list-style: lower-alpha;
}

.imgBorde {
    width: 100%;
    border: 2px solid #b70306;
}