<div class="bloqueado">
    <div class="leermas" fxLayout="column">
        <div class="cerrar" fxLayout="row" fxLayoutAlign="end" (click)="cerrarv()">
            <mat-icon>close</mat-icon>
            <p>cerrar</p>
        </div>
        <div fxFlex fxLayout="row" fxLayoutGap="20px" class="elemento">
            <div fxFlex="30" fxLayout="column" fxLayoutAlign="center">
                <img class="imgMaguey" src="assets/imgs/isotipoMaguey.png" alt="Explicación Isotipo de la Identidad Gráfica" title="Explicación Isotipo de la Identidad Gráfica">
            </div>
            <div fxFlex class="expl-iso">
                <h1>Isotipo de identidad gráfica.</h1>
                <p></p>
                <p>Nuestro isotipo representa el metl o maguey, con raíz y flor, y se inspira en un dibujo recogido por el médico y humanista español Francisco Hernández en una de sus obras más importantes: la Historia Natural de la Nueva España, escrita
                    en el México del siglo XVI, con la colaboración de médicos herbolarios y pintores indígenas. En ella dice Hernández: “Innumerables son los usos de esta planta […] sola podría fácilmente proporcionar todo lo necesario para una vida
                    frugal y sencilla, pues no la dañan los temporales ni los rigores del clima, ni la marchita la sequía.”
                </p>
                <p>
                    Muy diversas variedades del maguey, con “su corazón alado a pencas” (según un verso del poeta barroco Francisco de Castro), ilustran nuestro campo y pueblan nuestros antiguos códices. A lo largo y ancho de nuestras letras vemos erguirse a los magueyes
                    como “misteriosas coronas de reyes” (diría Amado Nervo), o crisparse, en palabras de Octavio Paz, como “la mano de los hombres contra el cielo”. Nos parece que la variedad, la generosidad y el carácter de esta planta mexicana bien
                    pueden simbolizar los de nuestra literatura del período novohispano, raíz de toda su savia y floraciones posteriores.
                </p>
            </div>
        </div>
    </div>
</div>