.bloqueado {
    left: 0 !important;
    top: 0 !important;
    z-index: 500 !important;
    width: 100% !important;
    height: 100% !important;
    position: fixed !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
    visibility: visible !important;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 20px;
}

.marco {
    max-height: 80%;
    padding: 15px;
    z-index: 501 !important;
    background-color: white;
    overflow-y: scroll;
    margin-bottom: 20px;
}

.imgMaguey {
    width: 279px;
    height: 369px;
}

.imgMagueySM {
    width: auto;
    height: 200px;
}

.expl-iso {
    padding: 10px;
    overflow-y: auto;
}

.expl-iso-SM {
    padding: 10px;
    min-height: 700px;
    overflow-y: auto;
}

.btn {
    cursor: pointer;
}

.cerrar {
    background-color: white;
    padding: 5px 20px;
    color: red;
    cursor: pointer;
}