<div fxFlex fxLayout="column" fxLayoutAlign="start stretch">
    <div class="notas" fxFlex="50px">

    </div>
    <div fxLayout="row" fxFill fxLayoutAlign="space-around stretch">
        <div fxFlex="250px">
            <app-lista-catalogo [catalogo]="catalogo"></app-lista-catalogo>
        </div>
        <div fxFlex="500px">
            <app-catalogo #catalogo [detallecat]="detallecat"></app-catalogo>
        </div>
        <div fxFlex="1100px">
            <app-detalle-catalogo #detallecat></app-detalle-catalogo>
        </div>
    </div>
</div>