<div class="contenedor" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="space-around">
    <mat-card class="tarjeta" fxFlex="0 0 calc(50% - 10px)">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Relaciones de comedias en la Nueva España, siglos XVI al XVII</mat-card-title>
            <mat-card-subtitle>Herramienta de consulta</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions fxLayoutAlign="space-around">
            <button mat-flat-button color="primary" (click)="irARelaciones()">Ir a la herramientas de relaciones</button>
        </mat-card-actions>
        <mat-card-content>
            <p class="parrafo">&emsp;Esta herramienta reúne fragmentos narrativos que constituyen el género discursivo conocido como relaciones de comedias, y consisten en breves relatos o narraciones que se insertan en el discurso dramático, es decir, entre los diálogos
                de una pieza teatral. Las relaciones reunidas en esta base de datos provienen de una selección de las obras dramáticas que se leían y representaban en la Nueva España durante los siglos <span class="versa"> XVI</span> y <span class="versa">XVII</span>,
                y que fueron escritas por autores novohispanos y peninsulares.</p>
            <p class="parrafo">&emsp;Las relaciones constituían una parte muy importante de las representaciones teatrales de la época, porque aquel público disfrutaba de oír los relatos puestos en boca de los actores, que además podían lucirse al acompañar estas narraciones
                con movimientos, gestos y entonaciones de voz acordes con el tema tratado. Además, el verso utilizado por el dramaturgo en las relaciones exigía una recitación y un ritmo diferentes de los que adoptaban los personajes en el diálogo. Todo
                ello se conjugaba para que el embelesado espectador esperara con agrado en cada obra estos momentos de gran efecto emotivo; daba igual oír hazañas extraordinarias, sucesos alegres o grandes desgracias: todos los relatos causaban regocijo
                y admiración. En algún momento, incluso las imprentas hicieron negocio al vender pliegos sueltos que contenían exclusivamente relaciones de comedias.
            </p>
            <p class="parrafo">&emsp;La base de datos reúne y ordena estas breves narraciones para ponerlas a la disposición del usuario (especialistas y curiosos), que podrá acceder a ellas mediante las siguientes opciones de búsqueda:
            </p>
            <ol>
                <li>Por <b>autor</b> y/o por <b>título</b> de la obra teatral.</li>
                <li>Por <b>tema</b>: agrupa las relaciones por los temas más comunes en el teatro áureo.</li>
                <li>Por <b>palabra</b>: permite hacer búsquedas ingresando cualquier palabra que esté presente en la relación.</li>
                <li>Por <b>motivo</b>: agrupa las relaciones por motivos literarios (nos basamos en los que estableció Stith Thompson en su Motif-index of folk-literature).</li>
                <li>Por tipo de <b>versificación</b>: las agrupa de acuerdo con su forma métrica.</li>
                <li>Por la <b>ubicación temporal</b> de la relación con respecto a la acción dramática; agrupa las relaciones en seis categorías con base en un criterio temporal (por ejemplo, registra si una relación narra sucesos anteriores, o simultáneos,
                    o posteriores a la virtual representación).</li>
                <li>Por <b>vínculos</b>: ofrece la posibilidad de explorar todos los elementos que sirven de puente para enlazar la relación con la acción dramática. </li>
                <li>Por <b>contexto</b>: permite observar el contexto en el que la relación se inserta.</li>
                <li>Por <b>signos actorales</b>: permite acceder a las relaciones a través de los gestos y signos que, según el texto dramático, realizan los actores al enunciarlas, y también a través de los gestos y signos que realizan personajes referidos
                    en la misma relación. </li>
            </ol>
            <div class="declaratoria">* Trabajo realizado gracias al apoyo del Programa de Becas Posdoctorales de la DGAPA/UNAM para realizar una estancia de investigación en el IIFIL, bajo la asesoría de la Dra. Ana Castaño.</div>
        </mat-card-content>

    </mat-card>
    <mat-card class="tarjeta" fxFlex="0 0 calc(45% - 10px)">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Sermones impresos durante el siglo <span class="versa">XVII</span> en la Nueva España</mat-card-title>
            <mat-card-subtitle>Herramienta de consulta</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions fxLayoutAlign="space-around">
            <button mat-flat-button color="primary" (click)="irASermones()">Ir a la herramienta de sermones</button>
        </mat-card-actions>
        <mat-card-content>
            <p class="parrafo">&emsp;El sermón fue uno de los géneros editoriales que más se imprimieron durante los siglos novohispanos. Los sermones que llegaron a las prensas eran por lo general los que habían sido predicados durante acontecimientos de suma importancia
                religiosa o política, o bien los pronunciados por predicadores de renombre, cuya fama o posicionamiento en la jerarquía eclesiástica pudo granjearles los recursos o el patrocinio para su impresión. Estos sermones impresos son sólo una
                pequeña parte de los sermones que se pronunciaron en los púlpitos novohispanos, y se entiende que pasaron por un proceso de corrección, ampliación y reelaboración antes de pasar por las prensas. Fueron puestos en letra de molde para hacerlos
                llegar a aquellas personas que no tuvieron la oportunidad de escucharlos de viva voz del predicador, y también para que otros predicadores menos avezados en el oficio tomaran ejemplo e ideas de ellos. Aunado a esto, el hecho de que un
                determinado predicador imprimiera sus sermones le daba un toque de prestigio entre la sociedad letrada de la época.</p>
            <p class="parrafo">&emsp;La base de datos que se presenta a continuación documenta la totalidad de sermones impresos en el territorio de la Nueva España a lo largo del siglo <span class="versa">XVII</span> que han sido localizados en alguna biblioteca tanto
                de México como de otros países, y tiene la finalidad de poner a disposición de los usuarios (especialistas y curiosos) la noticia bibliográfica completa de cada una de estas piezas de oratoria sagrada. Dicha información incluye una serie
                de datos relacionados con las características físicas y de presentación de este tipo de impresos; se proporciona además información sobre el pasaje bíblico (o thema) del que parte cada sermón, y que está determinado por las circunstancias
                o por el día del calendario litúrgico en que se predica. Estos impresos tienen una extensión de entre 20 y 50 páginas aproximadamente; constan de: a) una portada que contiene el título del sermón, el autor, la ocasión y el lugar en que
                se pronunció, el impresor, la ciudad y el año de impresión; b) los preliminares o paratextos, entre los que están las licencias de impresión, las aprobaciones y “pareceres”, además de textos literarios tales como prólogos, dedicatorias,
                piezas poéticas en elogio del predicador o del sermón escritas por otros predicadores, poetas y hombres de letras pertenecientes al círculo cercano del autor; c) en ocasiones algún grabado decora la edición (muchas veces se trata del escudo
                del personaje notable al que se dedica el sermón, o bien de una imagen religiosa); d) finalmente viene el sermón propiamente dicho, precedido siempre por el pasaje bíblico en torno al cual se construye el sermón. </p>
            <p class="parrafo">&emsp;Se podrá acceder a esta información mediante las siguientes opciones de búsqueda: </p>
            <ol>
                <li>Por <b>autor</b>: introduciendo el nombre del autor de un sermón se mostrarán las opciones coincidentes entre los autores de sermones.</li>
                <li>Por <b>título</b>: escribiendo el título del sermón o bien una o varias palabras presentes en dicho título, se mostrarán los sermones que la(s) contiene(n).</li>
                <li>Por <b>año de publicación</b>: introduciendo un año específico, o bien un rango de años, se mostrarán los sermones impresos en ese lapso.</li>
                <li>Por <b>ciudad de impresión</b>: esta opción permite visualizar los lugares de publicación del total de los sermones del corpus. Las opciones son: a) la Ciudad de México; b) la ciudad de Puebla de los Ángeles; y c) no consta la ciudad en
                    el pie de imprenta. </li>
                <li>Por <b>impresor</b>: seleccionando, entre un listado, el nombre de un impresor se mostrarán los sermones que sacó a la luz ese impresor.</li>
                <li>Por <b>pasaje bíblico (thema)</b> o por su <b>referencia bíblica</b>: esta búsqueda tiene dos opciones: a) introduciendo el pasaje bíblico que encabeza un sermón (tema) o una o varias palabras presentes en dicho pasaje; o b) por la referencia
                    del libro y el versículo bíblicos que corresponden al pasaje. Se mostrarán los sermones construidos a partir de dicho tema. (Sólo se registran pasajes bíblicos en latín, con base en la Vulgata).</li>
                <li>Por <b>autor de los preliminares</b>: introduciendo el nombre de un autor se mostrará el o los sermones que contengan textos preliminares (licencias, aprobaciones, censuras, pareceres, dedicatorias, prólogos, piezas poéticas, entre otros)
                    escritos por dicho autor.</li>
                <li>Por <b>dedicatario</b>: esta opción permite elegir, entre los nombres de una lista, a aquellos personajes a quienes uno o más sermones fueron dedicados.</li>
                <li>Por título de la <b>obra que contiene el sermón</b>: esta búsqueda permite elegir, entre un listado de títulos, la obra en que se encuentran incluidos uno o más sermones (se refiere a los casos en que uno o más sermones se encuentran contenidos
                    dentro de otra obra, sea ésta un sermonario, una relación de festejos u otro tipo de obra). </li>
                <li>Por <b>orden religiosa</b> o <b>cargo religioso</b>: seleccionando entre un listado, esta búsqueda permite encontrar todos los sermones que fueron predicados por los integrantes de una determinada orden religiosa, así como por los que
                    tuvieron el cargo de obispo o arzobispo.</li>
                <li>Por <b>grabados</b>: se puede hacer la búsqueda de los sermones que contengan un grabado específico eligiendo de un listado que se desplegará en esta opción</li>
            </ol>
            <div class="declaratoria">* Trabajo realizado gracias al apoyo del Programa de Becas Posdoctorales de la DGAPA/UNAM para realizar una estancia de investigación en el IIFIL, bajo la asesoría de la Dra. Ana Castaño.</div>
        </mat-card-content>

    </mat-card>
</div>