<div class="contenedor" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="space-around">
    <mat-card class="tarjeta" fxFlex="0 0 calc(30% - 10px)">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Relaciones del teatro</mat-card-title>
            <!--mat-card-subtitle>Narrativas</mat-card-subtitle-->
        </mat-card-header>
        <mat-card-content>
            <p>
                Descripción de las relaciones del teatro en la nueva españa, siglos XVI al XVII
            </p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="space-around">
            <button mat-flat-button color="primary" (click)="irARelaciones()">Ir a la herramientas de relaciones</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="tarjeta" fxFlex="0 0 calc(30% - 10px)">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Sermones</mat-card-title>
            <mat-card-subtitle>Subtitulo de sermones</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Descripción de la herramientas de consulta de sermones en la nueva españa, siglos XVI al XVII
            </p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="space-around">
            <button mat-flat-button color="primary" (click)="irASermones()">Ir a la herramienta de sermones</button>
        </mat-card-actions>
    </mat-card>
</div>