.contenedor {
    margin: 10px;
}

mat-card-header {
    background-color: #5d1013;
    color: white;
    border-radius: 5px;
}

mat-card-subtitle {
    color: rgba(255, 255, 255, .6);
}

mat-card-content {
    padding: 20px 0;
}

.parrafo {
    text-align: justify;
}

.versa {
    font-variant: small-caps;
}

.declaratoria {
    font-weight: bold;
    font-size: 12px;
    text-align: justify;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
}