.contenedorimg {
    position: relative;
    border: 1px solid black;
    width: 100%;
    height: 100%;
}

.imgprev {
    width: 100%;
    height: 100%;
    display: block;
}

.resultado {
    /*border: 1px solid rebeccapurple;*/
    padding: 5px;
    overflow-y: scroll;
}

.tituloTarjetaimg {
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    border-bottom: solid 1px black;
    background-color: rgba(255, 255, 255, .5);
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.contenedorimg:hover>.tituloTarjetaimg {
    display: block;
}

.pieTarjetaimg {
    border-top: solid 1px black;
    color: black;
    font-weight: bold;
    background-color: rgba(255, 255, 255, .5);
    display: none;
    position: absolute;
    bottom: -16px;
    left: 0;
    padding: 5px;
    width: 100%;
}

.contenedorimg:hover>.pieTarjetaimg {
    display: block;
}

.tarjeta {
    margin-top: 10px;
    max-height: 250px;
    cursor: pointer;
}

.tituloTarjeta {
    font-size: medium;
    font-weight: bold;
    font-style: italic;
    border-bottom: solid 1px black;
    background-color: rgba(255, 255, 255, .5);
}

.texto {
    width: 100%;
    height: 150px;
    text-align: justify;
    text-overflow: ellipsis;
}

.seleccionado {
    background: lightblue;
}

mat-card-content {
    height: 100%;
}

.buscando {
    width: 80%;
    padding: 10px;
    align-self: center;
}

::ng-deep .mat-tooltip {
    background-color: lightgoldenrodyellow !important;
    color: black !important;
    font-size: 18px !important;
}

.tarjetaresumen {
    margin-top: 20px;
}

.lista-resultado {
    margin: 20px 10px;
}


/********************************************************/

.tarjeta {
    margin-top: 40px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3), 0 5px 5px;
    overflow: hidden;
}

.encabezado {
    background-color: #D50000;
    color: white;
    font-weight: bold;
    padding: 10px 5px 5px 5px;
}

.contenido {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.pieTarjeta {
    border-top: solid 1px black;
    color: white;
    background-color: #D50000;
    padding: 2px 8px;
}