<app-espera *ngIf="estaCargando"></app-espera>

<app-tc *ngIf="referencia" [referencia]="referencia" [tipo]="tipoReferencia" [elemento]="elementoSeleccionado" (quitar)="cerrarDetalle()">

</app-tc>

<div class="resultado" *ngIf="!estaCargando  && resultadoOE.length>0">
    <div mat-subheader>Información encontrada en la Obra Escrita, Siglo XVI &nbsp;&nbsp;<a routerLink="/oesxvi"> Ir a la sección Siglo XVI</a></div>
    <div class="lista-resultado" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="space-around stretch">
        <app-detalle-oe class="tarjetaresumen" [elemento]="elemento" *ngFor="let elemento of resultadoOE; let i = index" (click)="verDetalle(elemento)" fxFlex="0 0 calc(25% - 10px)"></app-detalle-oe>
    </div>

</div>
<mat-divider></mat-divider>

<div *ngIf="!estaCargando && resultadoSermones.length>0">
    <div mat-subheader>Información encontrada en la base de datos de SERMONES &nbsp;&nbsp;<a routerLink="/sermones">Ir a la sección de SERMONES</a></div>
    <div class="lista-resultado" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="space-around stretch">
        <mat-card class="tarjeta" *ngFor="let sermon of resultadoSermones; let i = index" fxFlex="0 0 calc(20% - 10px)" fxFlex.lt-lg="0 0 calc(33% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%" (click)="verDetalle(sermon)">
            <mat-card-content [ngClass]="{'seleccionado':(i+1)==idxSeleccionado}" fxLayout="column" fxLayoutAlign="start stretch">
                <!--p fxFlex class="tituloTarjeta">{{sermon.id_sermon}} - {{sermon.autor_apellido | resaltaTexto:'salazar'}}, {{sermon.autor_nombre}} ({{sermon.autor_orden}})</p-->
                <div fxFlex class="tituloTarjeta" [innerHTML]="sermon.id_sermon+' - '+sermon.autor_nombre+' '+sermon.autor_apellido | resaltaTexto:termino"></div>
                <div class="texto" [innerHTML]="sermon.sermonRecortado | resaltaTexto:termino"></div>
                <div class="pieTarjeta" [innerHTML]="sermon.ciudad+', '+sermon.anio | resaltaTexto:termino"></div>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<mat-divider></mat-divider>

<div class="resultado" *ngIf="!estaCargando && resultadoNarrativas.length>0">
    <div mat-subheader>Información encontrada en la base de datos de Narrativas &nbsp;&nbsp;<a routerLink="/relaciones">Ir a la sección de RELACIONES</a></div>
    <div class="lista-resultado" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px" fxLayoutAlign="space-around stretch">
        <mat-card class="tarjeta" *ngFor="let narrativa of resultadoNarrativas; let i = index" fxFlex="0 0 calc(20% - 10px)" fxFlex.lt-lg="0 0 calc(33% - 10px)" fxFlex.lt-md="0 0 calc(50% - 10px)" fxFlex.lt-sm="100%" (click)="verDetalle(narrativa)">
            <mat-card-content [ngClass]="{'seleccionado':(narrativa.id_texto)==idxSeleccionado}" fxLayout="column" fxLayoutAlign="space-between">
                <div fxFlex class="tituloTarjeta" [innerHTML]="(i+1)+' - '+narrativa.autor | resaltaTexto:termino"></div>
                <div [innerHTML]="narrativa.narratioRecortado | resaltaTexto:termino"></div>
                <div class="pieTarjeta" [innerHTML]="narrativa.obra+', '+narrativa.ubicacion | resaltaTexto:termino"></div>
            </mat-card-content>
        </mat-card>

    </div>
</div>
<mat-divider></mat-divider>