/*@import '@angular/material/prebuilt-themes/indigo-pink.css';*/

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    /*font-family: "Century Gothic", Gotham, Helvetica, Arial, sans-serif;
    background-color: lightgrey !important;*/
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
