.contenedor {
    width: 90%;
    margin: 0 5% 10% 5%;
}

.fondo {
    width: 100%;
    padding: 10px;
    /*background-color: #f7f7f7;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.tomo {
    position: relative;
    color: black;
    padding: 20px;
    /* background-color: rgba(220, 194, 123, 1);*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

.isotipo {
    position: absolute;
    top: 40rem;
    left: 5px;
}

.titulo {
    font-size: 18px;
    font-weight: bold;
}

.tituloNoSeleccionado {
    font-size: 25px;
    color: blue;
    cursor: pointer;
    font-weight: bold;
}

.subrayado {
    width: 20%;
    border-bottom: 5px solid #b70306;
    border-right: 90% transparent;
}

.seccion {
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    border-top: 2px solid #b88214;
    cursor: pointer;
}

.capitulo {
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    color: #b88214;
    cursor: pointer;
}

.seccion,
.capitulo {
    background-color: #f8f2f1;
}

.st {
    background-color: #f8f2f1;
    font-size: 18px;
    border: 3px solid #e18f95;
    height: 50px;
}

.st2 {
    background-color: #f8f2f1;
    font-size: 18px;
    height: 50px;
}

.seleccionado {
    background-color: #ba7f01;
    font-size: 18px;
    font-weight: bold;
    color: white;
}


/******************************************************************************/

.seccionLista {
    border-radius: 10px;
}

.seccionDetalle {
    padding: 20px;
    background-color: rgba(220, 194, 123, .7);
    border-radius: 10px;
}

.estructura,
.vprev,
.superior,
.inferior {
    border: solid 1px red;
    max-height: 100vh;
    overflow: auto;
}

.contenedor-2 {
    width: 99%;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.controles {
    position: absolute;
    right: 5px;
    top: 5px;
}

.ctrl-regresar {
    position: absolute;
    right: 10px;
    top: 5px;
}

.buscando {
    width: 60%;
    padding: 10px;
    margin-top: 20px;
    align-self: center;
}

.row-item .bi {
    cursor: pointer;
}


/*tarjeta*/

.tarjetaresumen {
    width: 600px;
    margin-top: 1rem;
}

.tarjetaSeleccionada {
    border: 5px solid lemonchiffon;
    border-radius: 5px;
}


/**/

#style-3::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
    background-color: #5d1013;
}


/*Portad de obra*/

.tituloObra {
    color: #d70307;
    font-size: 1.5rem;
    font-weight: bold;
}

.autorObra {
    color: #8c8a8b;
    text-align: right;
    font-size: 1.3rem;
    font-style: italic;
}

.descripcionObra {
    margin: 1rem;
    font-size: 1rem;
}

.imagenObra {
    width: 600px;
    height: auto;
    border-radius: 10px;
    border: 1px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* estilos para la portada*/

.secportada {
    margin-bottom: 1rem;
    position: relative;
    margin-bottom: 10px;
}

.imgportada {
    width: 100%;
    height: auto;
    overflow: hidden;
    cursor: pointer;
    border: 5px solid #b70306;
}

.ampliar {
    background-color: #b70306;
    color: white;
    text-align: center;
    padding-top: auto;
}


/*Portada de capitulo*/

.secportadadesc {
    top: 0px;
    right: 0px;
    width: 40%;
    color: black;
}

.marcoprotada {
    position: relative;
}

.secp-inferior {
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background: rgb(247, 247, 247);
    background: linear-gradient(180deg, rgba(247, 247, 247, 0.1) 33%, rgba(247, 247, 247, 1) 70%);
}

.tituloCapitulo {
    color: #d70307;
    font-size: 1.5rem;
    font-weight: bold;
}

.autorCapitulo {
    color: #8c8a8b;
    text-align: right;
    font-size: 1.3rem;
    font-style: italic;
}

.portadaparrafo {
    margin: 1rem;
    font-size: 1rem;
}

.ctrlcapitulo {
    color: #dcc27b;
    cursor: pointer;
}

.portada_linea {
    height: 30px;
    border-bottom: 3px solid #dcc27b;
    margin: 0px 20% 20px 20%;
}