<app-tc *ngIf="referencia" [referencia]="referencia" [tipo]="tipoReferencia" [elemento]="elementoSeleccionado" (quitar)="cerrarDetalle()"></app-tc>

<div *ngIf="resultado != null" class="contenedor" fxLayout="column">
    <img class="isotipo" src="assets/imgs/maguey_fondo.jpg" alt="Explicación Isotipo de la Identidad Gráfica" title="Explicación Isotipo de la Identidad Gráfica" />
    <div class="ubicacion">
        <div id="migas">
            Historia de las literaturas en México
            <img src="assets/imgs/migaSep.jpg" alt="separador de miga" /> Siglo {{ siglo }} <img src="assets/imgs/migaSep.jpg" alt="separador de miga" /> {{ tomo }}
        </div>
    </div>
    <div id="titulo-botonSigloXVI">
        <h1>
            Publicaciones: Historia de las literaturas en México. Siglos XVI al XVIII
        </h1>
        <div>
            <a href="sigloxvi-tomo1.html" class="link_bloqueInverse offlinknav">Tomo 1</a
      ><a href="sigloxvi-tomo2.html" class="link_bloqueInverse">Tomo 2</a>
        </div>
    </div>
    <div class="subrayado"></div>
    <div class="fondo" fxLayout="row" fxLayout.lt-lg="column" fxLayoutGap="20px" fxLayoutAlign="space-around" fxLayoutAlign.lt-lg="start center">
        <div class="tomo" fxFlex="30" id="style-3">
            <div class="st" fxLayout="row" fxLayoutAlign="space-around space-around">
                <div>Siglo {{ siglo }} - {{ tomo }}</div>
            </div>
            <div [class.seleccionado]="capituloSel == null" [class.st2]="capituloSel != null" (click)="verTomo()" fxLayout="row" fxLayoutAlign="space-around space-around">
                <div>Introducción</div>
            </div>
            <div *ngFor="let reg of resultado; let i = index">
                <div (click)="moSeccion(reg.etiquetas)" *ngIf="
            reg.etiquetas.indexOf('seccion') >= 0 &&
            reg.etiquetas.indexOf('capitulo') < 0
          " class="seccion" fxLayout="row" fxLayoutAlign="space-between">
                    <p>{{ reg.texto }}</p>
                    <mat-icon *ngIf="!estaExpandido(reg.etiquetas)">expand_more</mat-icon>
                    <mat-icon *ngIf="estaExpandido(reg.etiquetas)">expand_less</mat-icon>
                </div>
                <div *ngIf="desplegarCapitulo(reg)" (click)="verCapitulo(reg)" [ngClass]="obtEstiloEstructura(reg)" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
                    <mat-icon>flare</mat-icon>
                    <p>{{ reg.texto }}</p>
                </div>
            </div>
        </div>

        <div fxFlex="70" fxLayout="row" fxLayoutGap="20px" fxLayout="column">
            <div fxFlex="100" fxLayout="column" fxLayoutAlign="start start" *ngIf="estaCargando">
                <h2>Buscando información ...</h2>
                <mat-progress-bar [color]="'primary'" [mode]="'indeterminate'" [value]="50" [bufferValue]="100">
                </mat-progress-bar>
            </div>
            <div class="tituloCapitulo" *ngIf="capituloSel != null && portada != null">
                {{ portada.capitulo }}
            </div>
            <div class="autorCapitulo" *ngIf="capituloSel != null && portada != null">
                Autor: {{ portada.descripcion }}
            </div>
            <div class="seccionLista" fxFlex *ngIf="capituloSel != null && portada != null">
                <div class="marcoprotada">
                    <div class="secportada" fxLayout="row" fxLayoutAlign="space-between">
                        <div fxFlex="70" class="secportadadesc" fxLayout="column ">
                            <div class="portadaparrafo" [innerHTML]="portada.texto"></div>
                        </div>
                        <div class="imagenportada" fxFlex="20">
                            <img class="imgportada" [src]="portada.referencia" alt=" " />
                            <p class="ampliar">
                                Ampliar
                                <mat-icon>add_circle_outline</mat-icon>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="portadaCtrls" *ngIf="capituloSel != null" fxLayout="row" fxLayoutAlign="space-between">
                    <div class="ctrlcapitulo" (click)="anterior()">
                        <mat-icon>arrow_back_ios</mat-icon><b>Anterior</b>
                    </div>
                    <div class="ctrlcapitulo" (click)="siguiente()">
                        <b>Siguiente</b>
                        <mat-icon>arrow_forward_ios</mat-icon>
                    </div>
                </div>
                <div class="portada_linea"></div>
                <div class="lista-resultado" fxLayout="row wrap " fxLayout.lt-sm="column " fxLayoutGap="10px " fxLayoutAlign="start ">
                    <app-detalle-oe class="tarjetaresumen" [tipo]="4" [elemento]="elemento" *ngFor="let elemento of regsCapitulo; let i = i; ndex" (click)="elementoSeleccionado = elemento" fxFlex="0 0 calc(24% - 10px) " (click)="verDetalle(elemento)"></app-detalle-oe>
                </div>
            </div>

            <div class="seccionPortada" fxFlex *ngIf="capituloSel == null" fxLayout="column">
                <div class="tituloObra">{{ imagenes[0].capitulo }}</div>
                <div class="autorObra">{{ imagenes[0].descripcion }}</div>
                <div class="descripcionObra">{{ imagenes[0].texto }}</div>
                <div fxLayout="row" fxLayoutAlign="space-around">
                    <img class="imagenObra" src="{{ imagenes[0].referencia }}" />
                </div>
            </div>
        </div>
    </div>
</div>