<div class="contenedor" *ngIf="lista!=null" fxLayout="row" fxLayoutAlign="start streach" fxLayoutGap="0">
    <div class="cuadro" fxFlex="20" *ngFor="let e of lista" (click)="seleccionar(e)">
        <img class="imagen" [src]="e.referencia" [alt]="e.descripcion">
        <div class="datos">
            <div class="logo" fxLayoutAlign="space-around space-around">
                <div>
                    <mat-icon class="icono">smart_display</mat-icon>
                </div>
            </div>
            <p class="titulo">{{e.descripcion}}</p>
            <div fxLayoutAlign="center center">
                <!---a class="accion" href="#" class="link_bloque">ver más...</a-->
                <button mat-button color="primary">ver más</button>
            </div>
        </div>
    </div>
</div>
<app-img-det-sld [elemento]="elementoSel" *ngIf="elementoSel!=null" (quitar)="quitarSeleccion()"></app-img-det-sld>