nav li>ul {
    display: none;
}

nav li:hover>ul {
    display: block;
    position: absolute;
    top: 30px;
    color: #fff;
    background: #dcc27b;
    width: 250px;
    z-index: 1000;
}

.active {
    color: red;
}