<mat-toolbar color="primary">
    <button mat-icon-button (click)="onToggleNV()" fxHide.gt-xs>
    <mat-icon>menu</mat-icon>
    </button>
    <div>Logo</div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <ul fxLayout fxLayoutGap="10px" class="elemento-nav">
            <li><a routerLink="/seccion1">Textos Literarios I</a></li>
            <li><a routerLink="/seccion2">Textos Literarios II</a></li>
            <li><a routerLink="/seccion3">Fototeca</a></li>
            <li><a routerLink="/seccion4">Videoteca</a></li>
            <li><a routerLink="/seccion5">Biblioteca</a></li>
            <li><a routerLink="/seccion5">Noticias</a></li>
            <li><a routerLink="/seccion6">usuarios</a></li>
        </ul>

    </div>
</mat-toolbar>