a {
    text-decoration: none;
    color: black;
}

mat-toolbar {
    background-color: #dcc27b;
    height: 72px;
}

.barra {
    margin-top: 90px;
}

nav {
    height: 72px;
}

.buscador {
    margin-top: 15px;
    margin-left: 50px;
}

.busq-exacta {
    font-size: 12px;
    margin-left: 20px;
}

nav li a:hover,
nav li a:active,
nav li a.offlinknav,
nav li a:focus {
    color: #fff;
    background: #aa7d04;
}

#li-home {
    font-size: 1.500rem/*24px*/
    ;
    line-height: 1;
}

nav li>ul {
    display: none;
}

nav li:hover>ul {
    display: block;
    position: absolute;
    top: 30px;
    color: #fff;
    background: #dcc27b;
    width: 200px;
    z-index: 1000;
}