a {
    text-decoration: none;
    color: white;
}

li {
    margin: 2px;
    padding: 5px 10px;
}

li:hover {
    border: 1px solid darkblue;
    color: white;
    margin: 2px;
    border-radius: 5px;
    padding: 0 10px;
}

.activo {
    background-color: gainsboro;
    margin: 2px;
    border-radius: 5px;
    padding: 0 10px;
}

.activo a {
    color: black;
}

.elemento-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.buscador {
    margin-top: 15px;
    margin-left: 50px;
}