<section id="sec6">
    <div class="wrapper flex-space">
        <div id="acercaDe">
            <h1>HLM Novohispana.<br> Historia de las literaturas en México (siglos XVI-XVIII)</h1>
            <p>Es una obra colectiva en tres volúmenes (ya publicados o en prensa) que busca ofrecer una visión renovada de las letras de nuestro virreinato. HLM Novohispana, el sitio web de esta obra, busca llevar la historia literaria más allá de la frontera
                demarcada por la página de papel. Creemos que la literatura virreinal no puede comprenderse a cabalidad sin considerar su estrecha relación con otras disciplinas o manifestaciones artísticas del período; por esa razón, HLM Novohispana
                ofrece, en primer lugar, contenido multimedia que complementa cada uno de los capítulos que conforman los volúmenes en papel: digitalizaciones de impresos y manuscritos antiguos, fotografías, vídeos, etcétera. </p>
            <a href="#" class="link_bloque">Leer más</a>
        </div>
        <div id="btnIsotipo">
            <a href="#"><img src="assets/img/isotipoMaguey.png" alt="Explicación Isotipo de la Identidad Gráfica" title="Explicación Isotipo de la Identidad Gráfica"></a>
        </div>

    </div>
</section>
<section id="sec1">
    <div class="wrapper">
        <h2>Publicaciones HLM</h2>
        <div class="flex-space" id="publicacionesHLM">
            <div>
                <a routerLink="/oesxvi">
                    <img src="assets/img/publicaciones-sigloxvi.jpg" alt="Publicaciones Siglo XVI" title="Publicaciones Siglo XVI">
                    <h3> Siglo XVI</h3>
                </a>
            </div>
            <div>
                <a routerLink="/oesxvii">
                    <img src="assets/img/publicaciones-sigloxvii.jpg" alt="Publicaciones Siglo XVII" title="Publicaciones Siglo XVII">
                    <h3> Siglo XVII</h3>
                </a>
            </div>
            <div>
                <a routerLink="/oesxviii">
                    <img src="assets/img/publicaciones-sigloxviii.jpg" alt="Publicaciones Siglo XVIII" title="Publicaciones Siglo XVIII">
                    <h3> Siglo XVIII</h3>
                </a>
            </div>
        </div>
    </div>
</section>


<section id="sec2">
    <div class="wrapper">
        <h2 class="h2white">Herramientas de investigación</h2>
        <div class="flex-space" id="herramientas">
            <div>
                <a routerLink="/PresentacionSermones">
                    <h3>Sermones<br>impresos</h3>
                </a>
            </div>
            <div>
                <a routerLink="/PresentacionRelaciones">
                    <h3> Relaciones <br>de comedias</h3>
                </a>
            </div>
            <div>
                <a routerLink="/linea">
                    <h3>Línea<br>de tiempo</h3>
                </a>
            </div>
        </div>
    </div>
</section>


<app-noticias-sld></app-noticias-sld>



<section id="sec4">
    <h2>Multimedia</h2>
    <app-imagenes-sld></app-imagenes-sld>
</section>

<app-dinteres></app-dinteres>