/*.sec1,
.sec2 {
    width: 800px;
    margin-left: 100px;
}

h3 {
    font-weight: bold;
    text-align: center;
}

p {
    margin-bottom: 0;
}*/

h1 {
    font-size: 1.750rem/*28px*/
    ;
    padding-bottom: 20px;
    background: url("/assets/img/pleka_h1.jpg") no-repeat bottom left;
    font-weight: bold;
}