<section id="sec6">
    <app-isotipo *ngIf="vIsotipo" (cerrar)="vIsotipo=false;"></app-isotipo>
    <div class="wrapper flex-space">
        <div id="acercaDe">
            <h1>HLM Novohispana.<br> Historia de las literaturas en México. Siglos XVI al XVIII</h1>
            <p>Es una obra colectiva en tres volúmenes (ya publicados o en prensa) que busca ofrecer una visión renovada de las letras de nuestro virreinato. HLM Novohispana, el sitio web de esta obra, busca llevar la historia literaria más allá de la frontera
                demarcada por la página de papel. Creemos que la literatura virreinal no puede comprenderse a cabalidad sin considerar su estrecha relación con otras disciplinas o manifestaciones artísticas del período; por esa razón, HLM Novohispana
                ofrece, en primer lugar, contenido multimedia que complementa cada uno de los capítulos que conforman los volúmenes en papel: digitalizaciones de impresos y manuscritos antiguos, fotografías, vídeos, etcétera. </p>
            <p *ngIf="vLeerMas">Las herramientas tecnológicas del presente nos permiten mirar con otros ojos obras escritas hace ya varios siglos; el usuario encontrará en este sitio, en segundo lugar, dos bases de datos —una en torno a todos los sermones que se imprimieron
                en el siglo xvii mexicano y otra en torno a las relaciones en las comedias escritas durante los Siglos de Oro a ambos lados del Atlántico—, así como una línea del tiempo, tridimensional e interactiva, que registra los principales sucesos
                de la época. Estamos convencidos de que, como decía Alfonso Reyes, “todo lo sabemos entre todos”; tiene el usuario a su alcance, en tercer lugar, un listado de enlaces de interés y una barra actualizada de noticias, secciones ambas destinadas
                a tender puentes con otros proyectos dedicados al estudio y difusión de la cultura y la literatura, vastas y multiformes, de la Nueva España.
            </p>
            <a class="link_bloque btn" (click)="acLeerMas()">{{tLeerMas}}</a>
        </div>
        <div id="btnIsotipo" class="btn">
            <a (click)="abrirIsotipo()"><img src="assets/imgs/isotipoMaguey.png" alt="Explicación Isotipo de la Identidad Gráfica" title="Explicación Isotipo de la Identidad Gráfica"></a>
        </div>

    </div>
</section>
<section id="sec1">
    <div class="wrapper">
        <h2>Publicaciones HLM</h2>
        <div class="flex-space" id="publicacionesHLM">
            <div>
                <a [routerLink]="['/publicaciones','XVI','Tomo1']">
                    <img src="assets/imgs/publicaciones-sigloxvi.jpg" alt="Publicaciones Siglo XVI" title="Publicaciones Siglo XVI">
                    <h3> Siglo XVI</h3>
                </a>
            </div>
            <div>
                <a [routerLink]="['/publicaciones','XVII','Tomo1']">
                    <img src="assets/imgs/publicaciones-sigloxvii.jpg" alt="Publicaciones Siglo XVII" title="Publicaciones Siglo XVII">
                    <h3> Siglo XVII</h3>
                </a>
            </div>
            <div>
                <a [routerLink]="['/publicaciones','XVIII','Tomo1']">
                    <img src="assets/imgs/publicaciones-sigloxviii.jpg" alt="Publicaciones Siglo XVIII" title="Publicaciones Siglo XVIII">
                    <h3> Siglo XVIII</h3>
                </a>
            </div>
        </div>
    </div>
</section>


<section id="sec2">
    <div class="wrapper">
        <h2 class="h2white">Herramientas de investigación</h2>
        <div class="flex-space" id="herramientas">
            <div>
                <a routerLink="/PresentacionSermones">
                    <h3>Sermones<br>impresos</h3>
                </a>
            </div>
            <div>
                <a routerLink="/PresentacionRelaciones">
                    <h3> Relaciones <br>de comedias</h3>
                </a>
            </div>
            <div>
                <a routerLink="/linea">
                    <h3>Línea<br>de tiempo</h3>
                </a>
            </div>
        </div>
    </div>
</section>


<app-noticias-sld></app-noticias-sld>



<section id="sec4">
    <h2>Multimedia</h2>
    <app-imagenes-sld></app-imagenes-sld>
</section>

<app-dinteres [tipo]="'resumen'"></app-dinteres>