#sec3 {
    background: #fcf3e3;
}

#sec3 img {
    width: 100%;
    margin: 50px auto;
    max-width: 1800px;
    display: block;
}

h2 {
    font-weight: bold;
}

.contenedor {
    width: 100%;
    margin-top: 20px;
}

.flecha {
    font-size: 7rem;
    color: #aa7d04;
    cursor: pointer;
}

.flecha-md {
    font-size: 5rem;
    color: #aa7d04;
    cursor: pointer;
}


/*.imagen,
.noticia,
.controles {
    border: 1px dotted black;
}*/

.controles {
    height: 35px;
    cursor: pointer;
}

.btnA {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #aa7d04;
}

.btnI {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: lightgray;
}

.imagen {
    border: solid 2px rgb(157, 8, 13);
    overflow-y: hidden;
    border-radius: 5px;
    height: 300px;
}

.imagenNoticia {
    height: auto;
    width: 100%;
    margin: 0 !important;
}

.tituloNoticia {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    border-bottom: 8px solid rgb(157, 8, 13);
}

.noticia {
    font-size: 2rem;
}

.btnNoticia {
    font-size: 1rem;
}