.marco {
    margin: 20px;
}

.marco-tabla {
    width: 100%;
    margin: 10px;
    overflow: scroll;
    scroll-behavior: auto;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-id {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 60px !important;
    flex: 0 0 50px !important;
    color: white;
    background-color: #5d1013;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-autor,
.mat-column-obra,
.mat-column-ubicacion,
.mat-column-narratio {
    width: 150px !important;
    border: 5px solid white !important;
    color: white;
    background-color: #5d1013;
}

.mat-column-narratio {
    width: 350px !important;
    white-space: pre-wrap !important;
    border: 5px solid white !important;
}

.mat-column-visuales,
.mat-column-auditivos,
.mat-column-presente_accion,
.mat-column-ref_discurso,
.mat-column-apltvo_recep,
.mat-column-apltvo_espect {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    width: 350px !important;
    border-left: 1px dotted gray;
    padding: 5px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.tooltipC {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    padding: 20px !important;
    overflow-wrap: break-word !important;
    word-wrap: break-word !important;
    word-break: break-word !important;
    -ms-hyphens: auto !important;
    -moz-hyphens: auto !important;
    -webkit-hyphens: auto !important;
    hyphens: auto !important;
}

.mat-header-cell {
    justify-content: flex-end;
    color: white;
    background-color: #5d1013;
    font-weight: bold;
}