<div class="marco_mapa" fxLayout="column" fxLayoutAlign="start stretch">
    <div class="titulo">
        <h3>Vinculos</h3>
        <p>Ofrece la posibilidad de explorar todos los elementos que sirven de puente para enlazar la relación con la acción dramática.</p>
    </div>
    <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="aplicarFiltro($event)" placeholder="Palabra o frace a buscar" #input>
    </mat-form-field>
    <div class="mostrar" fxLayout="row" fxLayoutAlign="space-between">
        <mat-chip-list #chipList>
            <mat-chip *ngIf="!estaVisible('visuales')" selected color="primary" (click)="cambiar('visuales',4)">VISUALES
                <mat-icon matChipRemove (click)="cambiar('visuales',4)">done</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="!estaVisible('auditivos')" selected color="primary" (click)="cambiar('auditivos',5)">AUDITIVOS
                <mat-icon matChipRemove (click)="cambiar('auditivos',5)">done</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="!estaVisible('presente_accion')" selected color="primary" (click)="cambiar('presente_accion',6)">EXPRESIONES QUE REFLEJAN EL IMPACTO EMOCIONAL DE LA RELACIÓN
                <mat-icon matChipRemove (click)="cambiar('presente_accion',6)">done</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="!estaVisible('ref_discurso')" selected color="primary" (click)="cambiar('ref_discurso',7)">REFERENCIAS AL METADISCURSO
                <mat-icon matChipRemove (click)="cambiar('ref_discurso',7)">done</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="!estaVisible('apltvo_recep')" selected color="primary" (click)="cambiar('apltvo_recep',8)">APELATIVOS AL RECEPTOR DE LA RELACIÓN
                <mat-icon matChipRemove (click)="cambiar('apltvo_recep',9)">done</mat-icon>
            </mat-chip>
            <mat-chip *ngIf="!estaVisible('apltvo_espect')" selected color="primary" (click)="cambiar('apltvo_espect',9)">APELATIVOS AL ESPECTADOR
                <mat-icon matChipRemove (click)="cambiar('apltvo_espect',10)">done</mat-icon>
            </mat-chip>
        </mat-chip-list>


    </div>
    <div class="marco-tabla">
        <table mat-table [dataSource]="listaResultado" matSort [style.width.px]="(columnasV.length-4)*350+800">
            <ng-container matColumnDef="id" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="relacion"> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.id_texto}} </td>
            </ng-container>

            <ng-container matColumnDef="autor" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="relacion"> AUTOR </th>
                <td mat-cell *matCellDef="let row"> {{row.autor}} </td>
            </ng-container>

            <ng-container matColumnDef="obra" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="relacion"> OBRA </th>
                <td mat-cell *matCellDef="let row"> {{row.obra}} ({{row.ubicacion}}) </td>
            </ng-container>

            <ng-container matColumnDef="ubicacion" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header rowspan="2" class="relacion"> UBICACIÓN </th>
                <td mat-cell *matCellDef="let row"> {{row.ubicacion}} </td>
            </ng-container>

            <ng-container matColumnDef="narratio" sticky>
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="relacion"> RELACIÓN </th>
                <td mat-cell *matCellDef="let row">
                    <div [innerHTML]="row.narratio | recortaTexto:200"></div>
                </td>
            </ng-container>

            <ng-container matColumnDef="visuales">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <button mat-button matSuffix mat-icon-button (click)="cambiar('visuales',5)">
                        <mat-icon>close</mat-icon>
                    </button>VISUALES
                </th>
                <td mat-cell *matCellDef="let row">
                    <div [innerHTML]="row.visuales | recortaTexto:200"></div>
                </td>
            </ng-container>

            <ng-container matColumnDef="auditivos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <button mat-button matSuffix mat-icon-button (click)="cambiar('auditivos',5)">
                        <mat-icon>close</mat-icon>
                    </button>AUDITIVOS
                </th>
                <td mat-cell *matCellDef="let row">
                    <div [innerHTML]="row.auditivos | recortaTexto:200"></div>
                </td>
            </ng-container>

            <ng-container matColumnDef="presente_accion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <button mat-button matSuffix mat-icon-button (click)="cambiar('presente_accion',6)">
                        <mat-icon>close</mat-icon>
                    </button>EXPRESIONES QUE REFLEJAN EL IMPACTO EMOCIONAL DE LA RELACIÓN
                </th>
                <td mat-cell *matCellDef="let row">
                    <div [innerHTML]="row.presente_accion | recortaTexto:200"></div>
                </td>
            </ng-container>

            <ng-container matColumnDef="ref_discurso">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <button mat-button matSuffix mat-icon-button (click)="cambiar('ref_discurso',7)">
                        <mat-icon>close</mat-icon>
                    </button>REFERENCIAS AL METADISCURSO
                </th>
                <td mat-cell *matCellDef="let row">
                    <div [innerHTML]="row.ref_discurso | recortaTexto:200"></div>
                </td>
            </ng-container>

            <ng-container matColumnDef="apltvo_recep">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <button mat-button matSuffix mat-icon-button (click)="cambiar('apltvo_recep',8)">
                        <mat-icon>close</mat-icon>
                    </button>APELATIVOS AL RECEPTOR DE LA RELACIÓN
                </th>
                <td mat-cell *matCellDef="let row">
                    <div [innerHTML]="row.apltvo_recep | recortaTexto:200"></div>
                </td>
            </ng-container>

            <ng-container matColumnDef="apltvo_espect">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                    <button mat-button matSuffix mat-icon-button (click)="cambiar('apltvo_espect',8)">
                        <mat-icon>close</mat-icon>
                    </button>APELATIVOS AL ESPECTADOR
                </th>
                <td mat-cell *matCellDef="let row">
                    <div [innerHTML]="row.apltvo_espect | recortaTexto:200"></div>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnasV"></tr>
            <tr mat-row style="cursor: pointer;" *matRowDef="let row; columns: columnasV;" (click)="idNarrativaSel=row.id_texto"></tr>

            <!-- Row shown when there is no matching data. -->
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No se encontraron coincidencias "{{input.value}}"</td>
            </tr>
        </table>
    </div>

    <mat-paginator [pageSizeOptions]="[2, 5, 10, 25, 100]"></mat-paginator>
</div>

<app-tc *ngIf="idNarrativaSel!=0" [referencia]="idNarrativaSel" [tipo]="'relacion'" (quitar)="cerrarDetalle()">

</app-tc>