.marco {
    margin: 20px;
}

.marco-tabla {
    width: 100%;
    margin: 10px;
    overflow: scroll;
    scroll-behavior: auto;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-id_texto {
    width: 50px !important;
    border-left: 1px dotted gray;
    color: white;
    background-color: #5d1013;
    font-size: 14px;
    font-weight: bold;
}

.mat-column-autor,
.mat-column-obra,
.mat-column-ubicacion,
.mat-column-narratio {
    width: 150px !important;
    border-left: 1px dotted gray;
    color: white;
    background-color: #5d1013;
    font-size: 14px;
}

.mat-column-narratio {
    width: 350px !important;
    white-space: pre-wrap !important;
}

.mat-column-gestos_dramaticos,
.mat-column-movimientos_dramaticos,
.mat-column-voz_dramaticos,
.mat-column-vista_dramaticos {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    width: 350px !important;
    border-left: 1px dotted gray;
    background-color: azure;
    padding: 5px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-gestos_dramaticos_no,
.mat-column-movimientos_dramaticos_no,
.mat-column-voz_dramaticos_no,
.mat-column-vista_dramaticos_no {
    word-wrap: break-word !important;
    white-space: pre-wrap !important;
    width: 350px !important;
    border-left: 1px dotted gray;
    background-color: beige;
    padding: 5px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.verso>span {
    display: inline
}

.tooltip {
    color: blue;
}

.mat-header-cell.relacion {
    justify-content: flex-end;
    color: white;
    background-color: #5d1013;
    font-weight: bold;
    text-align: center;
}

.mat-header-cell.explicitos {
    background-color: azure;
    font-weight: bold;
    text-align: center;
}

.mat-header-cell.implicitos {
    background-color: beige;
    font-weight: bold;
    text-align: center;
}

.narrativa {
    white-space: pre-wrap;
}